.flexRow {
  &--grid_product-home {
    margin-bottom: 40px;
    max-width: 1800px;
    margin: auto;
    .flexRowContent {
      display: flex;
      :global(.vtex-store-components-3-x-imageElement) {
        width: 60%;
        height: auto;
        object-fit: cover;
        @include tablet{
          width: 50%;
          
        }
      }
    }

    :global(.vtex-product-summary-2-x-element) {
      padding: 0;
    }

    :global(.vtex-product-summary-2-x-nameContainer--shelf),
    :global(.vtex-flex-layout-0-x-flexRow--selling-price-savings),
    :global(.vtex-product-price-1-x-installments) {
      display: none;
    }
  }
}

.flexCol--grid_product{
  @include tablet{
    width: 50% !important;

  }
}

.flexColChild--grid_product {
  :global(.vtex-list-context-0-x-list) {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;

    :global(.vtex-product-summary-2-x-imageContainer) {
      display: flex;
    }

    :global(.vtex-product-summary-2-x-containerNormal) {
      margin: 0;
      max-width: 100% !important;
      border-radius: 0;
      @include tablet{
        max-height: 245px;
      }
    }

    @include tablet{
      :global(.vtex-product-summary-2-x-imageNormal){
        max-height: 245px;
      }
    }
  }
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {

    :global(.vtex-product-summary-2-x-containerNormal) {

      @include tablet{
        border-radius: 0;
        margin: 0;
        width: 100%;
        max-width: 100% !important;
      }
    }

    @include tablet{
      :global(.vtex-product-summary-2-x-imageNormal){
      }
    }
  }

  :global(.vtex-product-highlights-2-x-productHighlightWrapper){
    display: none;
  }
}
