.container{
    &--content__seo{
        max-width: 1800px;
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
}

.container--seo__content{
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 30px;
    .heading-level-2 {
        font-size: 18px;
        font-family: 'Futura';
        margin: 25px 0;

        .strong--seo__content {
            font-weight: bold;
        }
    }
    .wrapper--seo__content{
        .heading--seo__content{
            @include tablet{
                font-size: 24px;
            }
        }

    }
    .link{
        color: black;
    }
}