.container{
    &--content__seo{
        max-width: 1800px;
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
}

.container--seo__content{
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 30px;
    .wrapper--seo__content{

    }
    .link{
        color: black;
    }
}