.container{
    &--home_title{
        display: flex;
        justify-content: center;
        color:#655B43;
        .heading--home_title{
            font-size: 64px;
            color: #655b43;
        }
    }
}