.triggerContainer{
    &--fast-buy{
        background-color: white;
        position: absolute;
        bottom: 10px;
        right: 8px;
        z-index: 999;
        border-radius:8px;
        width: 60px;
        border: 2px solid #bdbec0;
        @include tablet{
            bottom: 8px;
        }
    }
}

.paper--fast-buy{
    padding: 40px;
    border-radius: 8px;
    width: 520px;
    background-color: #F9F9F9;
    @include tablet{
        padding: 20px;
    }

}

.headerContainer--fast-buy{
    border: none;
    .closeButtonContainer--fast-buy{
        position: absolute;
        right: 10px;
        top: 10px;
    }
}