.sellingPrice--shelf {
    display: flex;
    justify-content: start;
    width: fit-content !important;
  .currencyContainer--shelf {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    @include tablet{
      font-size: 12px;
    }
  }
}

.savings--shelf{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: black;
  width: fit-content !important;
  @include tablet{
    padding-left: 5px;
    font-size: 12px;
  }
}

.installments--shelf{
  width: fit-content !important;
  font-size: 12px;
  line-height: 14px;
  text-align: start;
  @include tablet{
    font-size: 11px;
  }
}

.listPrice--shelf{
  width: auto !important;
  .currencyContainer--shelf{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #71767F;
    @include tablet{
      font-size: 12px;
    }
  }

  @include tablet{
    width: 100% !important;
    display: flex;
  }
}