.sellingPrice--shelf {
    display: flex;
    justify-content: start;
  .currencyContainer--shelf {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}

.listPrice--shelf{
  width: auto !important;
  .currencyContainer--shelf{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #71767F;
  }
}