.minicartWrapper {
  position: relative;
}

.minicartContainer {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItems {
  margin-top: 1rem;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.checkoutButton {
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
