@charset "UTF-8";
.customContainer {
  color: var(--custom-text-color) !important;
}
.customContainer--lp__first-banner {
  width: 39.2% !important;
  height: 840px;
}
@media (max-width: 1025px) {
  .customContainer--lp__first-banner {
    width: 100% !important;
    height: auto;
  }
}
.customContainer--lp__secund-banner {
  background: #dcbbba;
  height: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  padding-right: 220px;
  margin-right: -335px;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .customContainer--lp__secund-banner {
    padding: 0;
    margin: 0;
    width: 100% !important;
    height: auto;
  }
}
.customContainer--lp__three-banner {
  height: 560px;
  margin-top: 100px;
  margin-bottom: 200px;
}
@media (max-width: 1025px) {
  .customContainer--lp__three-banner {
    height: auto;
  }
}

.composition__paragraph {
  font-size: 14px;
}

.alertadd__container {
  background: black;
  position: fixed;
  left: 30px;
  bottom: 20px;
  padding: 20px;
  color: white;
  z-index: 99999;
}
@media (max-width: 1025px) {
  .alertadd__container {
    width: 80%;
    left: 50%;
    translate: -50%;
    z-index: 9999999999 !important;
  }
}

.backToTop {
  width: 60px;
  height: 60px;
  background: #eeeeee;
  border: 0.5px solid #b5b5b5;
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
  z-index: 999;
}
.backToTop::before {
  content: "";
  background: url(assets/icons/back-to-top/arrow-top.svg);
  display: block;
  width: 40px;
  height: 40px;
  background-size: 100%;
}
.backToTop.active {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1s forwards;
}
.backToTop.hidden {
  opacity: 0;
  visibility: hidden;
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal_overlay {
  z-index: 9999 !important;
}

.customContainer--shelf {
  height: 100%;
}
.customContainer--shelf :global(.vtex-product-summary-2-x-imageContainer) {
  height: 100%;
  width: 100%;
}

.custom-modal-container {
  background-color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  z-index: 998;
  border-radius: 8px;
  width: 60px;
  border: 2px solid #bdbec0;
}
@media (max-width: 1025px) {
  .custom-modal-container {
    bottom: 8px;
    width: 60px;
  }
}

.modal-content {
  position: absolute;
  right: -10px;
  background: #f9f9f9;
  width: 25vw;
  padding: 20px;
  translate: -100%;
  border-radius: 8px;
}
@media (max-width: 1025px) {
  .modal-content {
    width: 85%;
    translate: 0;
    padding: 20px;
    max-height: calc(100% - 4rem);
    background-color: #F9F9F9 !important;
  }
}
.modal-content .modal-content--wrapper .similar__products-variants--circle {
  height: 25px !important;
  width: 25px !important;
}
.modal-content .modal-content--wrapper .modal-content--button {
  all: unset;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 35px;
  font-weight: 300;
  rotate: 45deg;
  cursor: pointer;
}
@media (max-width: 1025px) {
  .modal-content .modal-content--wrapper .modal-content--button {
    font-size: 55px;
  }
}

.similar__modal-addToCart {
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: -100px;
  background-color: #f9f9f9;
  padding: 20px 30px;
  width: 70%;
  border: 1px solid black;
  border-radius: 4px;
  opacity: 0;
  transition: 1s ease;
}
@media (max-width: 1025px) {
  .similar__modal-addToCart {
    position: fixed;
    bottom: 50px;
  }
}
.similar__modal-addToCart-fadeIn {
  opacity: 1;
}
.similar__modal-addToCart-fadeOut {
  opacity: 0;
}
.similar__modal-addToCart--label {
  margin: 0;
}

.video__player {
  margin-top: 78px;
  height: fit-content !important;
}
@media (max-width: 1400px) {
  .video__player {
    aspect-ratio: 16/9;
    margin-top: 0;
  }
}
.video__player-video {
  height: 734px !important;
}
@media (max-width: 1400px) {
  .video__player-video {
    aspect-ratio: 14/9;
  }
}
@media (max-width: 1025px) {
  .video__player-video {
    width: 100%;
    max-height: 520px !important;
  }
}
@media (max-width: 768px) {
  .video__player-video {
    width: 100%;
    max-height: 430px !important;
  }
}
@media (max-width: 1025px) {
  .video__player {
    margin-top: 33px;
  }
}

.breadcrumb__institucional {
  margin: 27px 0;
}
.breadcrumb__institucional-wrapper {
  color: #666666;
}
.breadcrumb__institucional-wrapper--link {
  text-decoration: none;
  color: black;
}
@media (max-width: 1025px) {
  .breadcrumb__institucional {
    padding: 0 20px;
    margin-bottom: 15px;
  }
}

.kitLook__container {
  width: 100%;
  max-width: 1200px; /* Limite máximo opcional */
  margin: 0 auto;
  overflow: hidden; /* Evita que o slider ultrapasse os limites */
}
@media (max-width: 1025px) {
  .kitLook__container {
    padding: 0;
  }
}

.slider-wrapper {
  overflow: hidden; /* Garante que o slider não ultrapasse os limites do contêiner */
}

.kitLook__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
}
@media (max-width: 1025px) {
  .kitLook__item {
    padding: 0;
  }
}

.kitLook__item-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kitLook__container {
  margin-top: 40px;
}
.kitLook__container .custom-modal-container {
  width: 60px;
}
.kitLook__container .custom-modal-container .product__viewed-addtocart {
  font-size: 13px;
  display: flex;
  align-items: center;
}
@media (max-width: 1025px) {
  .kitLook__container .custom-modal-container .product__viewed-addtocart {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  .kitLook__item {
    max-width: 160px;
  }
}

.kitLook__item-name {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.kitLook__item-link {
  width: 100%;
  color: black;
  text-decoration: none;
}

.kitLook__title {
  font-size: 18px;
  padding-left: 15px;
}

.kitLook__item-wrapper {
  position: relative;
}

.similar__products-variants {
  min-height: 60px;
  margin-bottom: 26px;
}
@media (max-width: 1025px) {
  .similar__products-variants {
    margin-top: 26px;
    padding: 0 15px;
  }
}
.similar__products-variants--fastBuy {
  margin-bottom: 48px;
}
@media (min-width: 1025px) {
  .similar__products-variants--fastBuy {
    margin-bottom: 30px;
  }
}
.similar__products-variants--wrap {
  gap: 10px;
}
.similar__products-variants--wrap .similar__products-variants--link,
.similar__products-variants--wrap .similar__image-container--current {
  border-radius: 50%;
}
.similar__products-variants--wrap .similar__image-container--current {
  border: 1px solid black;
}
.similar__products-variants--circle {
  border-radius: 50%;
}

.similar__products-variants--wrap {
  flex-wrap: wrap;
}

.similar__products-variants--sku-title .similar__products-variants-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

.similar__products-variants--error {
  color: red;
}

.similar__products-variants--sku-title,
.similar__products-variants--title {
  font-size: 16px;
  text-align: left;
}

.similar__products-variants--title {
  margin-top: 0;
}

.similar__image-container {
  padding: 4px;
  border: 1.5px solid #cbcccd;
  border-radius: 50%;
}
.similar__image-container-active {
  border-color: black;
}
.similar__image-container:hover {
  cursor: pointer;
}

.similar__products-addtocart {
  all: unset;
  cursor: pointer;
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  padding: 10px;
}

.similar__products-variants--sku {
  text-transform: none;
  cursor: pointer;
}
.similar__products-variants--sku-selected {
  text-decoration: underline;
}
.similar__products-variants--sku-unavailable {
  color: #71767F;
  pointer-events: none;
  cursor: no-drop;
}
.similar__products-variants--sku:hover {
  cursor: pointer;
}

.similar__image-container-unavailable {
  position: relative;
}
.similar__image-container-unavailable::before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #cbcccd;
  position: absolute;
  top: 50%;
  left: 0;
  rotate: 45deg;
}

:global(.vtex-store-components-3-x-skuSelectorSubcontainer--cor),
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--hexadecimal) {
  display: none;
}

:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  padding: 0;
  color: white;
  font-size: 12px;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  margin: 0;
  gap: 10px;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem) {
  margin: 0;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem) :global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  background-color: white;
  border-color: black;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem) :global(.vtex-store-components-3-x-skuSelectorInternalBox) :global(.vtex-store-components-3-x-diagonalCross) {
  background: none;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem) :global(.vtex-store-components-3-x-skuSelectorInternalBox) :global(.vtex-store-components-3-x-valueWrapper) {
  color: black;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem):global(.vtex-store-components-3-x-unavailable) {
  cursor: no-drop;
  pointer-events: none;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem):global(.vtex-store-components-3-x-unavailable) :global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  border-color: #bdbec0;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem):global(.vtex-store-components-3-x-unavailable) :global(.vtex-store-components-3-x-valueWrapper) {
  color: #bdbec0;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem--selected) {
  margin: 0;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem--selected) :global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  background-color: black;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-skuSelectorItem--selected) :global(.vtex-store-components-3-x-skuSelectorInternalBox) :global(.vtex-store-components-3-x-valueWrapper) {
  color: white;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--tamanho) :global(.vtex-store-components-3-x-frameAround) {
  border: none;
}

.product__viewed-container {
  display: flex;
  gap: 8px;
}

.sliderLayoutContainer {
  max-width: 1900px;
  margin: auto;
}
@media (max-width: 768px) {
  .sliderLayoutContainer {
    padding: 0 5px;
  }
}

.slideChildrenContainer {
  align-items: flex-start;
}

.visited-products-slider {
  padding: 0 5px;
  margin-bottom: 150px;
}
@media (max-width: 1025px) {
  .visited-products-slider {
    margin-bottom: 40px;
    padding: 0px;
  }
}

.product__viewed-item {
  max-width: 24vw;
}
@media (max-width: 768px) {
  .product__viewed-item {
    max-width: 50vw;
  }
}

.title__viewed-product {
  font-size: 24px;
  font-weight: 500;
  margin: auto;
  max-width: 1800px;
  margin-top: 150px;
  margin-bottom: 40px;
  padding-left: 20px;
}
@media (max-width: 1025px) {
  .title__viewed-product {
    margin-top: 50px;
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.product__viewed-link {
  text-decoration: none;
  display: flex;
  position: relative;
  flex-direction: column;
}

@media (max-width: 1025px) {
  .product__viewed-image {
    width: min-content;
  }
}

.product__viewed-name {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  margin-block-start: 12px;
  margin-block-end: 8px;
}
@media (max-width: 1025px) {
  .product__viewed-name {
    font-size: 12px;
  }
}

.product__viewed-price {
  margin-block-start: 8px;
  margin-block-end: 8px;
  font-size: 14px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.product__viewed-price--list {
  color: #71767F;
  text-decoration: line-through;
}

.product__viewed-wrapper {
  position: relative;
  display: flex;
}

.product__viewed-addtocart {
  all: unset;
  border-radius: 6px;
  font-size: 14px;
  text-align: left;
  padding-inline-start: 5px;
  font-family: "Futura";
  color: black;
  height: 30px;
}
@media (max-width: 1025px) {
  .product__viewed-addtocart {
    width: 55px;
    height: 30px;
    font-size: 12px;
  }
}
.product__viewed-addtocart:hover {
  cursor: pointer;
}
.product__viewed-addtocart::after {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 50%;
}
@media (max-width: 1025px) {
  .product__viewed-addtocart::after {
    width: 10px;
  }
}
.product__viewed-addtocart::before {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 50%;
  rotate: 90deg;
}
@media (max-width: 1025px) {
  .product__viewed-addtocart::before {
    width: 10px;
  }
}

.product__viewed-installments {
  font-size: 12px;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.modalContent {
  width: 531px;
  height: 270px;
  padding: 40px;
  border-radius: 8px;
}
.modalContent .closeButton {
  all: unset;
  font-size: 45px;
  font-weight: 300;
  rotate: 45deg;
}
.modalContent .closeButton:hover {
  cursor: pointer;
}
.modalContent__alert-hidden {
  display: none;
}
.modalContent__alert-visible {
  display: block;
  position: absolute;
  bottom: -110px;
  left: 50%;
  translate: -50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 288px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.modalContent__alert-visible-span {
  text-decoration: underline;
}

.sliderRightArrow::before {
  content: "";
  display: block;
  width: 25px;
  height: 30px;
  background-image: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.2/icons/commum/arrow___49525ba….svg);
}
.sliderRightArrow .caretIcon {
  display: none;
}

.sliderLeftArrow::before {
  content: "";
  display: block;
  width: 25px;
  height: 30px;
  rotate: 180deg;
  background-image: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.2/icons/commum/arrow___49525ba….svg);
}
.sliderLeftArrow .caretIcon {
  display: none;
}

.login__container {
  position: relative;
  width: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container .login {
  width: 50px;
}
@media (max-width: 768px) {
  .login__container .login {
    width: 30px;
  }
}
.login__container .login:hover {
  cursor: pointer;
}
.login__container .login .login__icon {
  width: fit-content;
}
.login__container .login .login__icon::before {
  content: "";
  background: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/0.1.5/icons/header/icon-user___de3e7b3….svg) no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
}
.login__container .login__wrapper {
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  width: 132px;
  background-color: white;
  top: 90%;
  position: absolute;
  translate: -20px;
  z-index: 99;
}
.login__container .login__wrapper::before {
  content: "";
  box-shadow: -1px -1px 0 0 rgba(34, 36, 38, 0.15);
  background: #fff;
  display: block;
  margin: 0 0 0 -0.25em;
  position: absolute;
  pointer-events: none;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  left: auto;
  right: 40px;
  top: -3px;
  z-index: 2;
}
.login__container .login__wrapper_closed {
  display: none;
}
.login__container .login__wrapper_open {
  display: block;
}
.login__container .login__wrapper .login__list {
  list-style: none;
  padding: 0;
}
.login__container .login__wrapper .login__list .login__item {
  font-size: 10px;
  opacity: 0.8;
  padding: 0 20px;
  letter-spacing: 0.2em;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login__container .login__wrapper .login__list .login__item .login__link {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}
.login__container .login__wrapper .login__list .login__item .login__link:hover {
  font-weight: 600;
}

.hello__user {
  font-size: 14px;
}
.hello__user .hello__login-link {
  color: black;
}

:global(.vtex-sticky-layout-0-x-wrapper--main-header--stuck) .menuContainer .submenuContainer {
  top: 78px !important;
}

.menuContainer {
  z-index: 99;
}
@media (min-width: 1025px) {
  .menuContainer {
    margin-right: auto;
    margin-left: inherit;
    height: 100%;
    display: flex;
    justify-content: flex-start !important;
  }
}
.menuContainer .wrapper {
  margin: 0;
  height: 100%;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper {
    width: 100%;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
  }
}
.menuContainer .wrapper .menuItem {
  display: flex;
  align-items: center;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem {
    padding: 1rem 0;
    padding-right: 5px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
  }
  .menuContainer .wrapper .menuItem.activeMenuItem {
    height: 100vh;
    position: absolute;
    top: 0;
    background: white;
    padding-right: 0;
    z-index: 1;
  }
  .menuContainer .wrapper .menuItem.activeMenuItem .menuLink {
    color: #808080 !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
  }
  .menuContainer .wrapper .menuItem.activeMenuItem .menuLink .submenuToggleIcon.active {
    padding-left: 5px;
  }
  .menuContainer .wrapper .menuItem.activeMenuItem .menuLink .submenuToggleIcon.active::after {
    transform: rotate(134deg);
  }
  .menuContainer .wrapper .menuItem.activeMenuItem .submenuContainer.openSubmenu {
    padding: 0;
    height: 80%;
    justify-content: flex-start;
  }
  .menuContainer .wrapper .menuItem.activeMenuItem .submenuContainer.openSubmenu .submenuWrapper.level-1.openSubmenu .menuLink {
    justify-content: space-between;
    flex-direction: row;
    color: black !important;
    font-size: 16px;
    padding: 1rem;
    border-bottom: 1px solid #eee;
  }
  .menuContainer .wrapper .menuItem.activeMenuItem .submenuContainer.openSubmenu .submenuWrapper.level-1.openSubmenu .menuLink .submenuToggleIcon {
    padding-left: 5px;
  }
  .menuContainer .wrapper .menuItem.activeMenuItem .submenuContainer.openSubmenu .submenuWrapper.level-1.openSubmenu .menuLink .submenuToggleIcon::after {
    transform: rotate(45deg);
  }
}
.menuContainer .wrapper .menuItem .menuLink {
  font-family: "Futura";
  font-weight: 400;
  font-size: 14px;
  display: block;
  letter-spacing: 1px;
  color: #000;
  padding: 0;
}
.menuContainer .wrapper .menuItem .menuLink.underline {
  text-decoration: underline;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .menuLink {
    font-size: 16px;
    display: flex;
    margin: 0;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer {
  align-items: stretch;
  padding: 20px;
  top: 110px;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .submenuContainer {
    padding: 0;
    padding-block-start: 20px;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper.level-1 {
  width: 40%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper.level-1 {
    flex-direction: column;
    width: 100%;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper.level-1 .menuLink {
  margin-bottom: 10px;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .submenuItem {
  width: 100%;
  max-width: 250px;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .submenuItem {
    max-width: 100%;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .submenuItem .menuLink {
  color: #000;
  text-transform: capitalize;
  font-family: "Futura";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 0;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .level-2 .submenuItem {
  width: 100%;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .level-2 .submenuItem .menuLink {
  font-family: "Futura";
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .level-2 {
    display: none;
  }
  .menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .level-2.openSubmenu {
    display: block;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer {
  display: flex;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .submenuContainer .bannerContainer {
    flex-direction: column;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink {
  display: block;
  font-size: 22px;
  font-family: Orpheus;
  color: #000;
  letter-spacing: 0.05em;
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: none;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink {
    margin-left: 0;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink:first-child {
  margin-left: 0;
  padding-left: 100px;
  border-left: 1px solid #e5e5e5;
}
@media (max-width: 1025px) {
  .menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink:first-child {
    padding-left: 0;
    border: 0;
  }
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink .bannerText::after {
  content: "";
  font-size: 22px;
  font-family: Orpheus;
  color: #000;
  letter-spacing: 0.05em;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  width: 55px;
  height: 10px;
  background-image: url(assets/icons/header/big-arrow.png); /* URL do ícone desejado */
  background-repeat: no-repeat;
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink .bannerImage {
  display: block;
  margin-bottom: 15px;
}

.minicartWrapper {
  width: 50px !important;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .minicartWrapper {
    width: fit-content !important;
    padding: 0 12px 0 8px;
  }
}
.minicartWrapper .minicartButton {
  all: unset;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  translate: 0 8px;
  cursor: pointer;
}
.minicartWrapper .minicartButton::before {
  content: "";
  background: url(assets/icons/header/icon-bag.svg) no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: block;
}
.minicartWrapper .minicartNumber {
  font-family: Century;
  top: 100%;
  font-style: italic;
  right: 0;
  background-color: transparent;
  color: black;
  font-size: 12px;
}
.minicartWrapper .minicartLink {
  text-decoration: none;
}
.minicartWrapper .minicartContainer {
  width: 420px;
  background-color: white;
  position: absolute;
  border: 1px solid #eee;
  top: 120%;
  right: 0;
  z-index: 999999999;
  overflow-y: auto;
}
.minicartWrapper .minicartContainer .cartHeader .cartTitle {
  display: block;
  font-family: Futura;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}
.minicartWrapper .minicartContainer .cartHeader .cartSegure {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.2em;
  background: #000;
  color: #fff;
  pointer-events: none;
  padding: 12px 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.minicartWrapper .minicartContainer .cartItems {
  margin-top: 1rem;
  padding: 10px;
  max-height: 400px;
  overflow: auto;
}
.minicartWrapper .minicartContainer .cartItem {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 30px;
}
.minicartWrapper .minicartContainer .cartItem .minicart__product-img {
  width: 70px;
}
.minicartWrapper .minicartContainer .cartItem .minicart__product-name {
  max-width: 265px;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  float: right;
  font-size: 13px;
  margin-top: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  height: auto;
}
.minicartWrapper .minicartContainer .itemDetails {
  display: flex;
  flex-direction: column;
  width: calc(100% - 90px);
}
.minicartWrapper .minicartContainer .itemDetails .minicart__product-price {
  text-align: end;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}
.minicartWrapper .minicartContainer .itemDetails .minicart__product-un {
  text-align: end;
  text-align: end;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 15px;
}
.minicartWrapper .minicartContainer .minicartTotalizer {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.minicartWrapper .minicartContainer .minicartButtons {
  display: flex;
  justify-content: space-between;
}
.minicartWrapper .minicartContainer .minicartButtons .cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #000;
  background: #fff;
  border: 2px solid #000000;
  text-transform: none;
  height: 40px;
  width: 48%;
  text-decoration: none;
  cursor: pointer;
}
.minicartWrapper .minicartContainer .checkoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 48%;
}
.minicartWrapper .minicartContainer .cartFooter {
  padding: 10px;
}
.minicartWrapper .minicartContainer .cartFooter .minicartTotalizer {
  display: block;
  text-align: end;
}

.summaryheader-content {
  height: auto;
  width: 420px;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: visible;
  padding: 10px;
  right: 0;
}

.minicartContainer.empty .cartFooter {
  display: flex;
  flex-direction: column;
}
.minicartContainer.empty .cartFooter::before {
  content: ":(";
  color: rgba(0, 0, 0, 0.87);
  font-size: 30px;
  font-family: "Futura", sans-serif;
  font-weight: 800;
  display: block;
  text-align: center;
  width: 100%;
}
.minicartContainer.empty .emptyCartMessage {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.87);
}

.textSliderContainer {
  position: relative;
  width: 100%;
  height: 37px;
  background-color: #808080;
}
@media (max-width: 1025px) {
  .textSliderContainer {
    padding: 20px;
  }
}

.textSliderItem {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  translate: -50% -50%;
  margin: 0;
  width: fit-content;
  color: white;
  font-family: Century;
  font-size: 14px;
}
@media (max-width: 1025px) {
  .textSliderItem {
    width: 300px;
    text-align: center;
    font-size: 12px;
  }
}

.textSliderItem.active {
  opacity: 1;
}