@charset "UTF-8";
.menuContainer {
  z-index: 99;
}
@media (min-width: 1025px) {
  .menuContainer {
    margin-right: auto;
    margin-left: inherit;
    height: 100%;
    display: flex;
    justify-content: flex-start !important;
  }
}
.menuContainer .wrapper {
  margin: 0;
  height: 100%;
}
.menuContainer .wrapper .menuItem {
  display: flex;
  align-items: center;
}
.menuContainer .wrapper .menuItem .menuLink {
  font-family: "Futura";
  font-weight: 400;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  padding: 0;
}
.menuContainer .wrapper .menuItem .submenuContainer {
  align-items: stretch;
  padding: 20px;
  top: 78px;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper.level-1 {
  width: 40%;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper.level-1 .menuLink {
  margin-bottom: 10px;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .submenuItem {
  width: 100%;
  max-width: 250px;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .submenuItem .menuLink {
  color: #000;
  text-transform: capitalize;
  font-family: "Futura";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 0;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .level-2 .submenuItem {
  width: 100%;
}
.menuContainer .wrapper .menuItem .submenuContainer .submenuWrapper .level-2 .submenuItem .menuLink {
  font-family: "Futura";
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink {
  display: block;
  padding-left: 100px;
  border-left: 1px solid #e5e5e5;
  font-size: 22px;
  font-family: Orpheus;
  color: #000;
  letter-spacing: 0.05em;
  margin-top: 5px;
  text-decoration: none;
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink .bannerText::after {
  content: "";
  font-size: 22px;
  font-family: Orpheus;
  color: #000;
  letter-spacing: 0.05em;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  width: 55px;
  height: 10px;
  background-image: url(assets/icons/header/big-arrow.png); /* URL do ícone desejado */
  background-repeat: no-repeat;
}
.menuContainer .wrapper .menuItem .submenuContainer .bannerContainer .bannerLink .bannerImage {
  display: block;
  margin-bottom: 15px;
}