.carouselGaleryThumbs {
  display: block;
  padding: 0 15px;
}
.carouselGaleryThumbs .productImagesThumb .figure--product-image-carrosel {
  margin-right: 8px;
  border-radius: 4px;
}
.carouselGaleryThumbs .productImagesThumb.productImagesThumbActive .figure--product-image-carrosel {
  border: 0.5px solid black;
  padding: 1px;
}

.swiperCaretPrev--product-image-carrosel::before {
  content: "";
  display: block;
  width: 25px;
  height: 30px;
  background-image: url(assets/icons/commum/arrow.svg);
  rotate: 180deg;
}
.swiperCaretPrev--product-image-carrosel .caretIcon {
  display: none;
}

.swiperCaretNext--product-image-carrosel::before {
  content: "";
  display: block;
  width: 25px;
  height: 30px;
  background-image: url(assets/icons/commum/arrow.svg);
}
.swiperCaretNext--product-image-carrosel .caretIcon {
  display: none;
}

@media (max-width: 1025px) {
  .skuSelectorName {
    color: black;
  }
}

@media (max-width: 1025px) {
  .shippingContainer {
    padding: 0 15px;
  }
  .shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input__label) {
    font-size: 0;
  }
  .shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input__label)::before {
    content: "Simule frete e prazo de entrega";
    font-size: 14px;
    letter-spacing: 0.8px;
    padding-left: 10px;
  }
  .shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) :first-child {
    text-decoration: underline;
  }
  .shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) :global(.vtex__icon-external-link) {
    display: none;
  }
  .shippingContainer :global(.vtex-address-form__field-focused) :global(.vtex-input-prefix__group)::before {
    content: "";
  }
  .shippingContainer :global(.vtex-add-to-cart-button-0-x-buttonText) {
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
  }
  .shippingContainer :global(.vtex-add-to-cart-button-0-x-buttonText):hover {
    color: white;
  }
}

:global(.vtex-store-components-3-x-shippingContainer) {
  position: relative;
  margin-top: 70px;
}
:global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-button) {
  position: absolute;
  top: 22px;
  right: 15px;
  width: fit-content;
  height: 45px;
  width: 71px;
  background-color: black;
}
:global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}
:global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "Ok";
  font-size: 14px;
  color: white;
  text-transform: none;
}
:global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-address-form__postalCode-forgottenURL) {
  padding-inline-start: 10px;
}

:global(.vtex-store-components-3-x-subscriberContainer) {
  margin-top: 70px;
}

.productImage--product-image-grid {
  overflow: hidden;
}

.container {
  display: contents;
}

.logoLink--logo__desktop {
  width: fit-content !important;
  display: flex;
  height: fit-content;
}
.logoLink--logo__desktop .logoContainer {
  padding: 0 30px 0 0px;
  height: auto;
  display: inline-block;
}

.logoLink--logo__mobile {
  width: fit-content !important;
  display: flex;
  height: fit-content;
}
.logoLink--logo__mobile .logoContainer {
  padding: 0;
  height: auto;
  display: inline-block;
}

@media (min-width: 1025px) {
  .searchBarContainer {
    width: fit-content !important;
  }
  .searchBarContainer :global(.vtex-input-prefix__group) {
    transition: all 0.3s ease-in-out;
    border: 0;
    border-radius: 0;
    border-bottom: 0;
    padding-bottom: 4px;
  }
  .searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
    padding: 0;
  }
  .searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
    font-family: "Century";
    width: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
  }
  .searchBarContainer :global(.vtex-input-prefix__group):hover {
    border-bottom: 1px solid black;
  }
  .searchBarContainer :global(.vtex-input-prefix__group):hover :global(.vtex-styleguide-9-x-input) {
    font-family: "Century";
    width: 190px;
    padding: 0;
    font-size: 14px;
  }
  .searchBarContainer .searchBarIcon {
    padding: 0;
    width: 52px;
  }
  .searchBarContainer .searchBarIcon::before {
    content: "";
    background: url(assets/icons/header/icon-search.svg) no-repeat;
    width: 20px;
    height: 20px;
    padding: 0;
    display: block;
    margin: auto;
  }
  .searchBarContainer .searchBarIcon .searchIcon {
    display: none;
  }
}
@media (max-width: 1025px) {
  .searchBarContainer .autoCompleteOuterContainer {
    width: calc(100% - 30px);
    left: 50%;
    top: 5px;
    display: block;
    margin: auto;
  }
  .searchBarContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
    display: flex;
    border: 0;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #000;
    flex-direction: row-reverse;
  }
}

.imageElement--find__stores {
  padding: 0 16px;
}

.imageElementLink--find__stores {
  width: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.vtex-store-components-3-x-sizeMobile) {
  max-width: 106px;
}