.flexRow--category__list {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}
@media all and (max-width: 1024px) {
  .flexRow--category__list {
    width: calc(100% - 30px);
  }
}

.flexRow--footer__adress, .flexRow--footer__wrapper .flexRowContent {
  width: 100%;
  max-width: 1098px;
  margin: 0 auto;
}
@media all and (max-width: 1024px) {
  .flexRow--footer__adress, .flexRow--footer__wrapper .flexRowContent {
    width: calc(100% - 30px);
  }
}

.flexRow .stretchChildrenWidth {
  display: contents;
}

:global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--footer__wrapper {
  background: #eee;
  padding: 70px 10px;
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper {
    padding: 0;
    background: white;
  }
  .flexRow--footer__wrapper :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}
.flexRow--footer__wrapper .flexRowContent {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 1025px) {
  .flexRow--footer__wrapper .flexRowContent {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
}
.flexRow--footer__wrapper .flexRowContent .flexCol--footer__menu-col {
  width: fit-content;
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__menu-col {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--institucional {
    padding: 5px 20px;
    order: 1;
  }
  .flexRow--footer__wrapper .flexRowContent .flexCol--assistance {
    padding: 5px 20px;
    order: 2;
  }
  .flexRow--footer__wrapper .flexRowContent .flexCol--help {
    padding: 5px 20px;
    order: 3;
  }
}
@media (min-width: 1025px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__newsletter {
    max-width: 410px;
  }
}
@media (max-width: 1025px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__newsletter {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__newsletter {
    padding: 26px 20px 20px;
    background-color: #eee;
  }
}
.flexRow--footer__social {
  max-width: 354px;
}
.flexRow--footer__social .flexRowContent {
  justify-content: space-between;
}
.flexRow--footer__adress {
  padding: 27px 0px;
}
.flexRow--footer__adress .flexRowContent {
  display: flex;
  align-items: center;
}
.flexRow--footer__copyright {
  background-color: #000;
}

.flexRow--main-header .flexRowContent--main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 78px;
}
.flexRow--headers__icons .flexRowContent {
  justify-content: end;
}

.flexRow--category__list {
  margin-bottom: 50px;
}
.flexRow--category__list .flexRowContent--category__list {
  gap: 8px;
}