.nameContainer--shelf {
  justify-content: start;
  padding: 0;
  padding-block-start: 12px;
  margin-block-end: 8px;
}
@media (max-width: 1025px) {
  .nameContainer--shelf {
    margin-block-end: 0;
  }
}
.nameContainer--shelf .productBrand--shelf {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  width: 100%;
  display: inline-block;
  text-align: left;
}
@media (max-width: 1025px) {
  .nameContainer--shelf .productBrand--shelf {
    font-size: 12px;
  }
}