.container--newsletter__title .paragraph {
  font-family: "Futura";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.container--newsletter__title .paragraph:first-child {
  font-family: "Futura";
  font-size: 18px;
  font-weight: 650;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #db2828;
  text-transform: uppercase;
}
.container--newsletter__policy-privacy .paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #000;
  margin: 15px 0 0;
  letter-spacing: initial;
}
.container--newsletter__policy-privacy .paragraph .link {
  font-weight: 600;
  color: #444;
}
@media (max-width: 768px) {
  .container--adress {
    display: none;
  }
}
.container--adress .paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #b5b5b5;
  margin-bottom: 0;
}
.container--footer__copyright {
  justify-content: center;
}
.container--footer__copyright .paragraph {
  padding: 10px;
  font-family: "Futura";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0;
}

.container--category__list-title {
  display: flex;
  justify-content: center;
}
.container--category__list-title .heading--category__list-title {
  font-size: 64px;
  color: #655b43;
}
.container--category__list-link {
  display: flex;
  justify-content: center;
}
.container--category__list-link .paragraph--category__list-link {
  width: 184px;
  font-family: "Open Sans";
  font-size: 24px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.container--first__shelf-title {
  display: flex;
  justify-content: center;
  color: #655B43;
}
.container--first__shelf-title .heading--first__shelf-title {
  font-size: 64px;
}