.container {
  max-width: 1800px;
  padding: 0 20px;
  margin: 24px auto;
}
.container .termArrow::before, .container .arrow::before {
  content: "/";
  color: black;
}
.container .caretIcon {
  display: none;
}
.container .homeLink::before {
  content: "Home";
}
.container .homeLink .homeIcon {
  display: none;
}
.container .link {
  color: black;
}
.container .term {
  color: #666666;
}