.flexRow--category__list {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}
@media all and (max-width: 1024px) {
  .flexRow--category__list {
    width: calc(100% - 30px);
  }
}

.flexRow--terms .flexRowContent--terms, .flexRow--table__sizes-container .flexRowContent--table__sizes-container, .flexRow--faq .flexRowContent--faq, .flexRow--exchange_and_returns .flexRowContent--exchange_and_returns, .flexRow--about-us__container, .flexRow--footer__adress, .flexRow--footer__wrapper .flexRowContent {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
@media all and (max-width: 1024px) {
  .flexRow--terms .flexRowContent--terms, .flexRow--table__sizes-container .flexRowContent--table__sizes-container, .flexRow--faq .flexRowContent--faq, .flexRow--exchange_and_returns .flexRowContent--exchange_and_returns, .flexRow--about-us__container, .flexRow--footer__adress, .flexRow--footer__wrapper .flexRowContent {
    width: calc(100% - 30px);
  }
}

.flexRow--searchbread :global(.vtex-breadcrumb-1-x-container) {
  margin: auto;
  margin-bottom: 29px;
  max-width: 1800px;
  padding: 0 20px;
}
.flexRow--searchbread :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-link) {
  color: #565d61;
}
.flexRow--searchbread :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow)::before {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}
.flexRow--productCountCol .flexRowContent--productCountCol {
  align-items: baseline;
  gap: 10px;
}
.flexRow--result .flexRowContent--result {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
.flexRow--result .flexRowContent--result .flexCol--content {
  margin-top: 50px;
  padding-left: 25px;
}
.flexRow--productCountMobileRow .flexRowContent {
  display: flex;
  align-items: baseline;
  padding: 13px 0 13px 25px;
  gap: 8px;
  border-bottom: 1px solid #eee;
}
.flexRow--searchinfomobile .flexRowContent {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.flexRow--searchinfomobile .flexRowContent .flexCol--filterMobileCol {
  margin: 0;
  position: absolute;
  left: 25px;
  width: fit-content !important;
}

.flexRow--bannerTop__slider .flexRowContent--bannerTop__slider {
  justify-content: center;
}
.flexRow--bannerTop__slider :global(.vtex-store-components-3-x-imageElement--bannerTop__slider) {
  width: 1920px;
  margin: auto;
  display: block;
}

.flexRow--lp__conteiner .flexRowContent--lp__conteiner {
  flex-direction: column;
}
.flexRow--lp__first-banner .flexRowContent {
  align-items: center;
}
@media (max-width: 1025px) {
  .flexRow--lp__first-banner .flexRowContent {
    flex-direction: column;
  }
}
.flexRow--lp__first-banner .flexRowContent :global(.vtex-store-components-3-x-imageElement--lp__first-banner) {
  width: 60.8%;
  height: fit-content;
}
@media (max-width: 1025px) {
  .flexRow--lp__first-banner .flexRowContent :global(.vtex-store-components-3-x-imageElement--lp__first-banner) {
    width: 100%;
  }
}
.flexRow--lp__secund-banner .flexRowContent {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
}
@media (max-width: 1025px) {
  .flexRow--lp__secund-banner .flexRowContent {
    gap: 10px;
    flex-direction: column-reverse;
  }
}
.flexRow--lp__three-banner .flexRowContent {
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .flexRow--lp__three-banner .flexRowContent {
    margin: 0;
    flex-direction: column;
  }
}
.flexRow--lp__three-banner .flexRowContent :global(.vtex-store-components-3-x-imageElement--lp__three-banner) {
  height: fit-content;
  margin-top: -40px;
  margin-left: 10%;
  z-index: 1;
}
@media (max-width: 1025px) {
  .flexRow--lp__three-banner .flexRowContent :global(.vtex-store-components-3-x-imageElement--lp__three-banner) {
    margin: 0;
    width: 100%;
  }
}

.flexRowContent--lp__banner-duplo-v2 :global(.vtex-store-components-3-x-imageElement) {
  width: 950px;
  height: 634px;
  position: relative;
}

.flexColChild--lp__banner-duplo-v2 {
  width: 950px;
  height: 634px !important;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-left--v2) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-rigth) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

.flexColChild--lp__banner-duplo-left {
  position: relative;
}

.flexColChild--lp__banner-duplo-rigth {
  position: relative;
}

.flexColChild--lp__banner-triplo-um {
  position: relative;
}
.flexColChild--lp__banner-triplo-um :global(.vtex-store-components-3-x-imageElement) {
  width: 630px;
  height: 660px;
  position: relative;
}
.flexColChild--lp__banner-triplo-um :global(.vtex-rich-text-0-x-container--lp__text-banner-triplo-um) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

.flexColChild--lp__banner-triplo-dois {
  position: relative;
}
.flexColChild--lp__banner-triplo-dois :global(.vtex-store-components-3-x-imageElement) {
  width: 630px;
  height: 660px;
}
.flexColChild--lp__banner-triplo-dois :global(.vtex-rich-text-0-x-container--lp__text-banner-triplo-dois) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

.flexColChild--lp__banner-triplo-tres {
  position: relative;
}
.flexColChild--lp__banner-triplo-tres :global(.vtex-store-components-3-x-imageElement) {
  width: 630px;
  height: 660px;
}
.flexColChild--lp__banner-triplo-tres :global(.vtex-rich-text-0-x-container--lp__text-banner-triplo-tres) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

.flexRow--lp__banner-final :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
  height: 400px;
}

.flexColChild--lp__banner-final {
  position: relative;
}
.flexColChild--lp__banner-final :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
  height: 400px;
}
.flexColChild--lp__banner-final :global(.vtex-rich-text-0-x-container--lp__banner-simples-text) {
  position: absolute;
  bottom: 30px;
  justify-content: center;
  width: 100%;
}

.flexRow--lp__banner-topo-mobile :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
  height: 340px;
}

.flexRowContent--lp__banner--v2 .flexCol--banner-text {
  position: relative;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-final-text--v2) {
  position: absolute;
}

.flexColChild--banner-text--v2 :global(.vtex-store-components-3-x-imageElement--lp__left-banner-duplo-mob) {
  width: 100%;
  height: auto;
}

.flexColChild--banner-text--v2 {
  position: relative;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-left-mob--v2) {
  position: absolute;
  bottom: 30px;
}

.flexColChild--banner-text--v2 :global(.vtex-store-components-3-x-imageElement--lp__rigth-banner-duplo-mob) {
  width: 100%;
  height: auto;
}

.flexRowContent--lp__banner-duplo-v2-mob--v2 {
  flex-direction: row;
  display: flex;
  line-height: 0;
}

.flexRowContent--lp__banner-duplo-v3-mob--v2 {
  flex-direction: row;
  display: flex;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-left-mob--v2) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

.flexColChild--lp__banner-final--v2 {
  position: relative;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-final-text--v2) {
  justify-items: center;
  position: absolute;
  bottom: 50px;
  margin: 0 20px;
  width: 100%;
}

.flexRowContent--lp__banner-duplo--v2 {
  gap: 10px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .flexRowContent--lp__banner-duplo--v2 {
    margin-bottom: 10px;
  }
}
.flexRowContent--lp__banner-final--v2 {
  position: relative;
}
.flexRowContent--lp__banner-trio--v2 {
  gap: 10px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .flexRowContent--lp__banner-trio--v2 {
    margin-bottom: 10px;
  }
}
.flexRowContent--lp__banner-topo--v2 {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .flexRowContent--lp__banner-topo--v2 {
    margin-bottom: 10px;
  }
}
.flexRowContent--lp__banner-wrapper-mob--v2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.flexRowContent--lp__banner-wrapper-mob--v2 :global(.vtex-store-components-3-x-imageElement--lp__banner-wrapper--v2) {
  height: 100%;
  display: block;
  width: 100%;
}
.flexRowContent .flexColChild--lp__banner-wrapper-two--v2 {
  display: contents;
}
.flexRowContent .flexCol--lp__banner-text--v2 {
  position: relative;
  width: fit-content;
}
.flexRowContent .flexCol--lp__banner-duplo-rigth--v2 {
  width: fit-content;
}
.flexRowContent .flexCol--lp__banner-duplo-rigth--v2 .flexColChild {
  width: fit-content;
}
.flexRowContent .flexCol--lp__banner-duplo-left--v2 {
  width: fit-content;
}
.flexRowContent .flexCol--lp__banner-duplo-left--v2 .flexColChild {
  width: fit-content;
}

.flexColChild--lp__banner-text--v2 {
  width: fit-content;
}

.flexRow--LP {
  margin-top: 50px !important;
}

.flexRowContent--LP {
  gap: 50px;
}
@media (max-width: 1440px) {
  .flexRowContent--LP :global(.vtex-store-components-3-x-imageElement) {
    width: 47% !important;
  }
}
.flexRowContent--LP .flexColChild--grid_product :global(.vtex-list-context-0-x-list) .flexRow--flags-shelf {
  display: none;
}

@media (max-width: 767px) {
  .flexRowContent--Category__banners {
    display: flex;
    gap: 15px;
  }
  .flexRowContent--Category__banners :global(.vtex-store-components-3-x-imageElement) {
    width: 78.55px;
    height: 32px;
  }
  .flexRowContent--LP {
    display: block !important;
    text-align: center;
  }
  .flexRowContent--LP :global(.vtex-store-components-3-x-imageElement) {
    width: 90% !important;
  }
  .flexCol--grid_product-LP--mobile {
    width: 90% !important;
    margin-top: 30px;
  }
  .flexColChild--grid_product-LP--mobile :global(.vtex-product-summary-2-x-imageNormal) {
    max-height: 245px !important;
  }
  .flexRowContent--v2 .stretchChildrenWidth {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .flexRowContent--Category__banners {
    gap: 5px !important;
  }
  .flexRowContent--Category__banners :global(.vtex-store-components-3-x-imageElement) {
    width: 100px;
    height: auto;
  }
  .flexRowContent--Category__banners .pr6 {
    padding-right: 0px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .flexColChild--grid_product-LP--mobile :global(.vtex-list-context-0-x-list) {
    grid-template-columns: 1fr;
  }
  .flexColChild--grid_product-LP--mobile :global(.vtex-list-context-0-x-list) :global(.vtex-list-context-0-x-item):first-child,
  .flexColChild--grid_product-LP--mobile :global(.vtex-list-context-0-x-list) :global(.vtex-list-context-0-x-item):last-child {
    display: none;
  }
  .flexRowContent--LP :global(.vtex-store-components-3-x-imageElement) {
    width: 75% !important;
  }
  .flexCol--grid_product-LP--mobile {
    width: auto !important;
  }
}
.flexRowContent--LP :global(.vtex-product-summary-2-x-nameContainer--shelf) {
  display: block !important;
}

.flexRow--LP .flexRow--selling-price-savings {
  display: block !important;
}

.flexRow--LP :global(.vtex-product-price-1-x-installments) {
  display: block !important;
}

@media (max-width: 767px) {
  .flexColChild--grid_product-LP--mobile :global(.vtex-list-context-0-x-list),
  .flexColChild--grid_product-LP--mobile :global(.vtex-product-summary-2-x-containerNormal) {
    width: 95%;
    max-height: 100% !important;
  }
}
@media (max-width: 1025px) {
  .flexColChild--grid_product-LP--mobile {
    align-items: center !important;
    justify-content: center;
    display: flex;
  }
  .flexColChild--grid_product-LP--mobile :global(.vtex-list-context-0-x-list),
  .flexColChild--grid_product-LP--mobile :global(.vtex-product-summary-2-x-containerNormal) {
    max-height: 100% !important;
  }
}
@media (max-width: 767px) {
  .flexCol--grid_product.flexCol--grid_product-LP--mobile {
    width: 100% !important;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .flexRowContent--Category__banners {
    gap: 5px !important;
  }
  .flexRowContent--Category__banners :global(.vtex-store-components-3-x-imageElement) {
    width: 90px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .flexColChild--grid_product-LP--mobile :global(.vtex-product-summary-2-x-element) {
    padding-bottom: 0.75rem !important;
  }
}
@media (max-width: 1920px) {
  .flexColChild--grid_product-LP--mobile :global(.vtex-list-context-0-x-list) {
    gap: 10px;
  }
  .flexRow--LP {
    margin-bottom: 50px !important;
  }
}
.flexRow--product-main {
  max-width: 1800px;
  padding: 0 20px;
  margin: auto;
}
@media (max-width: 768px) {
  .flexRow--product-main {
    padding: 0;
  }
}
.flexRow--product-main .flexRowContent--flags-shelf {
  row-gap: 8px;
  column-gap: 16px;
}
@media (max-width: 768px) {
  .flexRow--product-main .flexRowContent--flags-shelf {
    padding-left: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
  }
}
.flexRow--product-main .flexRowContent--flags-shelf .stretchChildrenWidth {
  row-gap: 8px;
  column-gap: 16px;
}
@media (max-width: 768px) {
  .flexRow--product-main .flexRowContent--flags-shelf .stretchChildrenWidth {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
  }
}
.flexRow--product-main .flexRowContent--product-main {
  justify-content: space-between;
}
.flexRow--product-main .flexCol--product__col-left {
  width: 60%;
  margin-right: 50px;
}
.flexRow--product-main .flexCol--product__col-left :global(.vtex-store-components-3-x-content--product-image-grid) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.flexRow--product-main .flexCol--product__col-left :global(.vtex-store-components-3-x-content--product-image-grid) :global(.vtex-store-components-3-x-productImageTag--product-image-grid--main) {
  max-height: 855px !important;
}
.flexRow--product-main .flexCol--product__right-col {
  width: 40%;
  max-width: 430px;
  position: sticky;
  top: 100px;
}
@media (max-width: 1025px) {
  .flexRow--product-main .flexCol--product__right-col {
    position: static;
  }
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-address-form__postalCode) :global(.vtex-input__label) {
  font-size: 0;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-address-form__postalCode) :global(.vtex-input__label)::before {
  content: "Simule frete e prazo de entrega";
  font-size: 14px;
  letter-spacing: 0.8px;
  padding-left: 10px;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) :first-child {
  text-decoration: underline;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) :global(.vtex__icon-external-link) {
  display: none;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-address-form__field-focused) :global(.vtex-input-prefix__group)::before {
  content: "";
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-add-to-cart-button-0-x-buttonText) {
  text-transform: none;
  font-size: 16px;
  line-height: 16px;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-add-to-cart-button-0-x-buttonText):hover {
  color: white;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-store-components-3-x-shippingContainer) {
  position: relative;
  margin-top: 70px;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-button) {
  position: absolute;
  top: 25px;
  right: 0;
  width: fit-content;
  height: 40px;
  width: 71px;
  background-color: black;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "Ok";
  font-size: 14px;
  color: white;
  text-transform: none;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-address-form__postalCode-forgottenURL) {
  padding-inline-start: 10px;
}
.flexRow--product-main .flexCol--product__right-col :global(.vtex-store-components-3-x-subscriberContainer) {
  margin-top: 70px;
}
@media (max-width: 1025px) {
  .flexRow--pdp__installmentsAndPayments .flexRowContent {
    padding: 0 15px;
    display: flex;
    gap: 26px;
    flex-direction: column;
    border-bottom: 1px solid #eeeeee;
  }
}
@media (max-width: 1025px) {
  .flexRow--buy-button {
    padding: 0 15px;
  }
  .flexRow--buy-button :global(.vtex-add-to-cart-button-0-x-buttonText) {
    text-transform: none;
  }
}
.flexRow--buy-button :global(.vtex-button) {
  margin: 20px 0 30px;
  height: 48px;
}
.flexRow--buy-button :global(.vtex-button):hover {
  color: white;
  border: none;
}
.flexRow--product__name-pdp :global(.vtex-store-components-3-x-productNameContainer--quickview) {
  font-size: 20px;
}
@media (max-width: 1025px) {
  .flexRow--product__name-pdp :global(.vtex-store-components-3-x-productNameContainer--quickview) {
    padding: 0 15px;
  }
}
.flexRow--product__review {
  margin-top: 10px;
  margin-bottom: 20px;
}
.flexRow--product__review .flexRowContent {
  gap: 10px;
  display: flex;
}
@media (max-width: 1025px) {
  .flexRow--product__review .flexRowContent {
    padding: 0 15px;
  }
}
.flexRow--product__review :global(.vtex-reviews-and-ratings-3-x-inlineContainer) {
  width: fit-content;
}
.flexRow--product__price-pdp {
  margin-top: 5px;
}
.flexRow--product__price-pdp .flexRowContent--product__price-pdp {
  gap: 5px;
  display: flex;
}
@media (max-width: 1025px) {
  .flexRow--product__price-pdp .flexRowContent--product__price-pdp {
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .flexRow--product__price-pdp .flexRowContent--product__price-pdp :global(.vtex-product-price-1-x-currencyContainer),
  .flexRow--product__price-pdp .flexRowContent--product__price-pdp :global(.vtex-product-price-1-x-savings) {
    font-size: 14px;
  }
}
.flexRow--pdp__flex .flexRowContent {
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 1025px) {
  .flexRow--pdp__flex .flexRowContent {
    margin-bottom: 0px;
    padding-bottom: 26px;
  }
}
.flexRow--pdp__skuAndGuideSizes .flexRowContent {
  margin-bottom: 0;
  display: flex;
}
@media (max-width: 1025px) {
  .flexRow--pdp__skuAndGuideSizes .flexRowContent {
    padding: 0 15px;
  }
}
.flexRow--pdp__methodsPayments {
  overflow: hidden;
}
.flexRow--pdp__methodsPayments .flexRowContent {
  flex-direction: column;
  overflow: scroll;
  height: 700px;
  padding: 35px;
}
@media (max-width: 1025px) {
  .flexRow--pdp__methodsPayments .flexRowContent {
    padding-bottom: 100px;
  }
}
.flexRow--product-breadcrumb .flexRowContent :global(.vtex-breadcrumb-1-x-container) {
  font-size: 12px;
  max-width: 1800px;
  padding: 0 20px;
  margin: 24px auto;
}
@media (max-width: 1025px) {
  .flexRow--product-breadcrumb .flexRowContent {
    margin-bottom: 15px;
  }
  .flexRow--product-breadcrumb .flexRowContent :global(.vtex-breadcrumb-1-x-container) {
    font-size: 12px;
    display: flex;
    height: 14px;
    padding: 0;
    max-width: 320px;
    overflow: hidden;
    margin-left: 15px;
  }
  .flexRow--product-breadcrumb .flexRowContent :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-link) {
    text-wrap: nowrap;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .flexRow--product-breadcrumb .flexRowContent :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-link):global(.vtex-breadcrumb-1-x-homeLink) {
    overflow: visible;
  }
  .flexRow--product-breadcrumb .flexRowContent :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) {
    display: flex;
    width: 80px;
    font-size: 12px;
  }
}

.flexRow .stretchChildrenWidth {
  display: contents;
}

:global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--not-found {
  padding: 0 20px;
  margin: 40px 0;
}
.flexRow--not-found .flexRowContent .flexCol--not-found {
  max-width: 1300px;
  margin: auto;
}
@media (max-width: 1025px) {
  .flexRow--not-found--links .flexRowContent {
    flex-direction: column;
  }
}

.flexRow--footer__wrapper {
  background: #eee;
  padding: 70px 10px;
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper {
    padding: 0;
    background: white;
  }
  .flexRow--footer__wrapper :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}
.flexRow--footer__wrapper .flexRowContent {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 1025px) {
  .flexRow--footer__wrapper .flexRowContent {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
}
.flexRow--footer__wrapper .flexRowContent .flexCol--footer__menu-col {
  width: fit-content;
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__menu-col {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--institucional {
    padding: 5px 20px;
    order: 1;
  }
  .flexRow--footer__wrapper .flexRowContent .flexCol--assistance {
    padding: 5px 20px;
    order: 2;
  }
  .flexRow--footer__wrapper .flexRowContent .flexCol--help {
    padding: 5px 20px;
    order: 3;
  }
}
@media (min-width: 1025px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__newsletter {
    max-width: 410px;
  }
}
@media (max-width: 1025px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__newsletter {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .flexRow--footer__wrapper .flexRowContent .flexCol--footer__newsletter {
    padding: 26px 20px 20px;
    background-color: #eee;
  }
}
.flexRow--footer__social {
  max-width: 354px;
}
.flexRow--footer__social .flexRowContent {
  justify-content: space-between;
}
.flexRow--footer__adress {
  padding: 27px 0px;
}
.flexRow--footer__adress .flexRowContent {
  display: flex;
  align-items: center;
}
@media (max-width: 1025px) {
  .flexRow--footer__adress .flexRowContent {
    justify-content: center;
  }
}
.flexRow--footer__copyright {
  background-color: #000;
}

.flexRow--main-header {
  background-color: white;
}
.flexRow--main-header .flexRowContent--main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 78px;
  max-width: 1800px;
  margin: auto;
}
.flexRow--main-header-mobile {
  background-color: white;
}
.flexRow--main-header-mobile .flexRowContent--main-header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 78px;
}
.flexRow--headers__icons .flexRowContent {
  justify-content: end;
  align-items: center;
}

.flexCol--header__drawer-mobile-right {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
  top: 10px;
  align-items: center;
  height: auto;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: end;
}
.flexCol--header__drawer-mobile-right .flexColChild--header__drawer-mobile-right {
  height: fit-content;
}

.flexRow--selling-price-savings .flexRowContent {
  gap: 5px;
  margin-block-end: 8px;
}
@media (max-width: 1025px) {
  .flexRow--selling-price-savings .flexRowContent {
    margin-block-end: 0px;
    gap: 0px;
    display: flex;
    flex-wrap: wrap;
  }
}

.flexRowContent--flags-shelf .stretchChildrenWidth {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
}
@media (max-width: 768px) {
  .flexRowContent--flags-shelf .stretchChildrenWidth {
    flex-wrap: wrap;
    row-gap: 8px;
  }
}

.flexRow--category__list {
  margin-bottom: 50px;
}
@media (max-width: 1025px) {
  .flexRow--category__list {
    margin-bottom: 0px;
  }
}
.flexRow--category__list .flexRowContent--category__list {
  gap: 8px;
}
@media (max-width: 1025px) {
  .flexRow--category__list .flexRowContent--category__list {
    gap: 4px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-items: center;
  }
  .flexRow--category__list .flexRowContent--category__list .flexCol--category__list {
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .flexRow--category__list .flexRowContent--category__list .flexCol--category__list :global(.vtex-store-components-3-x-imageElement) {
    max-height: 256px !important;
  }
}

.flexRow--grid_product-home {
  margin-bottom: 40px;
  max-width: 1800px;
  margin: auto;
}
.flexRow--grid_product-home .flexRowContent {
  display: flex;
}
.flexRow--grid_product-home .flexRowContent :global(.vtex-store-components-3-x-imageElement) {
  width: 60%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 1025px) {
  .flexRow--grid_product-home .flexRowContent :global(.vtex-store-components-3-x-imageElement) {
    width: 50%;
  }
}
.flexRow--grid_product-home :global(.vtex-product-summary-2-x-element) {
  padding: 0;
}
.flexRow--grid_product-home :global(.vtex-product-summary-2-x-nameContainer--shelf),
.flexRow--grid_product-home :global(.vtex-flex-layout-0-x-flexRow--selling-price-savings),
.flexRow--grid_product-home :global(.vtex-product-price-1-x-installments) {
  display: none;
}

@media (max-width: 1025px) {
  .flexCol--grid_product {
    width: 50% !important;
  }
}

.flexColChild--grid_product :global(.vtex-list-context-0-x-list) {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
}
.flexColChild--grid_product :global(.vtex-list-context-0-x-list) :global(.vtex-product-summary-2-x-imageContainer) {
  display: flex;
}
.flexColChild--grid_product :global(.vtex-list-context-0-x-list) :global(.vtex-product-summary-2-x-containerNormal) {
  margin: 0;
  max-width: 100% !important;
  border-radius: 0;
}
@media (max-width: 1025px) {
  .flexColChild--grid_product :global(.vtex-list-context-0-x-list) :global(.vtex-product-summary-2-x-containerNormal) {
    max-height: 245px;
  }
}
@media (max-width: 1025px) {
  .flexColChild--grid_product :global(.vtex-list-context-0-x-list) :global(.vtex-product-summary-2-x-imageNormal) {
    max-height: 245px;
  }
}
@media (max-width: 1025px) {
  .flexColChild--grid_product :global(.vtex-slider-layout-0-x-sliderLayoutContainer) :global(.vtex-product-summary-2-x-containerNormal) {
    border-radius: 0;
    margin: 0;
    width: 100%;
    max-width: 100% !important;
  }
}
.flexColChild--grid_product :global(.vtex-product-highlights-2-x-productHighlightWrapper) {
  display: none;
}

@media (min-width: 1025px) {
  .flexRow--last__shelf {
    margin-bottom: 80px;
  }
}

.flexCol--slider__home-slide {
  position: absolute;
  height: fit-content;
  top: 50%;
  translate: 0 -50%;
}
@media (max-width: 1025px) {
  .flexCol--slider__home-slide {
    top: 65%;
  }
}

.flexRow--slider__home-slide--butons .flexRowContent {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.flexRow--about-us__container .flexRowContent--about-us__container {
  display: block;
}
@media (min-width: 1025px) {
  .flexRow--about-us__container .flexRowContent--about-us__container {
    padding: 0 15px;
  }
}
.flexRow--about-us__section .flexRowContent--about-us__section {
  align-items: center;
  gap: 1rem;
  margin-top: 30px;
}
@media (min-width: 1025px) {
  .flexRow--about-us__section .flexRowContent--about-us__section {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .flexRow--about-us__section .flexRowContent--about-us__section-02 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 1025px) {
  .flexRow--about-us__section :global(.vtex-store-components-3-x-imageElement--about-us__section) {
    width: 50%;
  }
}
.flexRow--about-us__last-section {
  margin-bottom: 40px;
}
.flexRow--about-us__last-section :global(.vtex-store-components-3-x-imageElement) {
  width: 45%;
  margin-bottom: 30px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .flexRow--about-us__last-section :global(.vtex-store-components-3-x-imageElement) {
    width: 100%;
  }
}

.flexRow--cashback__container .flexRowContent--cashback__container {
  flex-direction: column;
  max-width: 1366px;
  margin: auto;
}
.flexRow--cashback__section-one {
  background-color: black;
  height: 250px;
  max-width: 1366px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .flexRow--cashback__section-one .flexRowContent--cashback__section-one {
    flex-direction: column;
  }
}
@media (max-width: 1025px) {
  .flexRow--cashback__section-one {
    height: 180px;
  }
}
.flexRow--cashback__HowItWorks-row .flexRowContent {
  gap: 30px;
  display: flex;
}
@media (max-width: 768px) {
  .flexRow--cashback__HowItWorks-row .flexRowContent {
    gap: 16px;
  }
}
.flexRow--cashback__HowItWorks-row :global(.vtex-store-components-3-x-imageElement) {
  width: 32px;
  height: 32px;
  margin-block-start: 0.83em;
}
@media (max-width: 1025px) {
  .flexRow--cashback__HowItWorks-row :global(.vtex-store-components-3-x-imageElement) {
    width: 24px;
    height: 24px;
  }
}
.flexRow--cashback__section-two {
  margin: 80px auto 100px;
  max-width: 1200px;
}
.flexRow--cashback__section-two .flexRowContent--cashback__section-two {
  align-items: center;
  gap: 100px;
}
.flexRow--cashback__section-two .flexCol {
  width: auto;
  margin: 0 30px;
}
@media (max-width: 1025px) {
  .flexRow--cashback__section-two {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
.flexRow--cashback__regulation .flexRowContent--cashback__regulation {
  max-width: 1366px;
  margin: auto;
  flex-direction: column;
}
.flexRow--cashback__regulation .flexRowContent--cashback__regulation :global(.vtex-store-components-3-x-imageElement--cashback__regulation-banner) {
  width: 100%;
  display: block;
  margin: auto;
}
.flexRow--cashback__regulation .flexRowContent--cashback__regulation .flexCol--cashback__regulation {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .flexRow--cashback__regulation .flexRowContent--cashback__regulation .flexCol--cashback__regulation {
    width: 90%;
    margin-top: 10px;
  }
}
.flexRow--cashback__regulation .flexRowContent--cashback__regulation .flexCol--cashback__regulation :global(.vtex-store-components-3-x-imageElement) {
  display: block;
}
.flexRow--cashback__regulation-button .flexRowContent {
  gap: 15px;
}

.flexRow--contact-us .flexRowContent--contact-us {
  flex-direction: column;
  margin: auto;
  max-width: 720px;
  padding: 0 20px;
}

.flexRow--dealer__container {
  max-width: 1086px;
  margin: 80px auto 100px;
}
@media (max-width: 1025px) {
  .flexRow--dealer__container {
    padding: 0 10px;
    margin-bottom: 0;
  }
}
.flexRow--dealer__container .flexRowContent--dealer__container {
  align-items: center;
}
@media (max-width: 768px) {
  .flexRow--dealer__container .flexRowContent--dealer__container :global(.vtex-store-components-3-x-imageElement--dealer) {
    display: block;
    margin: 10px auto;
  }
}
.flexRow--dealer__container .flexCol--dealer {
  padding: 40px 49px;
  border: 1px solid #0c0c0c;
}
@media (min-width: 1025px) {
  .flexRow--dealer__container .flexCol--dealer {
    border-right: 0;
  }
}
@media (max-width: 768px) {
  .flexRow--dealer__container .flexCol--dealer {
    width: 90%;
    padding: 20px 30px;
    margin: auto;
  }
}
@media (max-width: 1025px) {
  .flexRow--dealer__buttons .flexRowContent--dealer__buttons {
    flex-direction: column;
  }
}

.flexRow--exchange_and_returns .flexRowContent--exchange_and_returns {
  margin: 50px auto;
}

.flexRow--faq .flexRowContent--faq {
  margin: 100px auto;
}

.flexRow--privacy_policy .flexRowContent--privacy_policy {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: column;
}
@media (max-width: 768px) {
  .flexRow--privacy_policy .flexRowContent--privacy_policy {
    padding: 0 10px;
  }
}

.flexRow--table__sizes-container .flexRowContent--table__sizes-container {
  position: relative;
  padding: 0 15px;
  display: flex;
}
@media (max-width: 768px) {
  .flexRow--table__sizes-container .flexRowContent--table__sizes-container {
    padding: 0;
  }
}
.flexRow--table__sizes-feminine .flexRowContent--table__sizes-feminine {
  justify-content: space-evenly !important;
  align-items: center !important;
}
.flexRow--table__sizes-feminine .flexRowContent--table__sizes-feminine .flexCol {
  width: auto;
}
.flexRow--table__sizes-feminine .flexRowContent--table__sizes-feminine .flexCol .flexColChild {
  display: contents;
}
.flexRow--table__sizes-feminine .flexRowContent--table__sizes-feminine .flexCol .flexColChild :global(.vtex-store-components-3-x-imageElement) {
  width: max-content;
}
.flexRow--table__sizes-masculine .flexRowContent--table__sizes-masculine {
  justify-content: center;
}
.flexRow--table__sizes-feminine--tables {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .flexRow--table__sizes-feminine--tables .flexRowContent {
    flex-direction: column;
  }
}
.flexRow--table__sizes-masculine--tables {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .flexRow--table__sizes-masculine--tables .flexRowContent {
    flex-direction: column;
  }
}

:global(.vtex-store-components-3-x-imageElement--livelo__fullBanner-desk) {
  display: block;
  margin: auto;
}

:global(.vtex-store-components-3-x-imageElementLink) {
  width: fit-content !important;
}

.flexRow--livelo__fullBanner-desk .flexRowContent {
  justify-content: center;
  position: relative;
  max-width: 1366px;
  margin: auto;
}
.flexRow--livelo__fullBanner-desk .flexRowContent .flexCol--livelo__fullBanner {
  position: absolute;
  max-width: 100%;
  width: auto;
  right: 3%;
  top: 16%;
}
.flexRow--livelo__fullBanner-desk .flexRowContent .flexCol--livelo__fullBanner .flexColChild {
  display: contents;
}
.flexRow--livelo__category {
  margin: 40px 0;
}
.flexRow--livelo__category .flexRowContent--livelo__category {
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1025px) {
  .flexRow--livelo__category .flexRowContent--livelo__category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
  }
}