
.stackContainer--shelf {
  position: relative;
}
.stackContainer--shelf .stackItem--shelf--first {
  height: 100%;
}
.stackContainer--shelf .stackItem--shelf--first :global(.vtex-product-summary-2-x-image) {
  object-fit: cover !important;
  aspect-ratio: 139/203;
  z-index: 99;
}
.stackContainer--shelf .stackItem--shelf--fast-buy {
  top: calc(100% - 8px);
  left: calc(100% - 8px);
  width: fit-content;
  height: fit-content;
  translate: -100% -100%;
  border-radius: 6px;
  overflow: auto;
}