.triggerContainer--product__review :global(.vtex-rich-text-0-x-paragraph--product__review) {
  margin: 0;
  text-decoration: underline;
}
.triggerContainer--pdp__trigger {
  width: fit-content !important;
}
.triggerContainer--pdp__trigger:hover {
  cursor: pointer;
}

.headerContainer--header__modal {
  border: 0;
}
.headerContainer--header__modal .closeButtonContainer--header__modal {
  position: absolute;
  right: 0;
  translate: 50% -50%;
  background-color: #1b1c1d;
}
.headerContainer--header__modal .closeButtonContainer--header__modal .closeButton {
  padding: 0.25rem;
}
.headerContainer--header__modal .closeButtonContainer--header__modal .closeButton .closeIcon {
  display: none;
}
.headerContainer--header__modal .closeButtonContainer--header__modal .closeButton::before {
  content: "X";
  font-size: 25px;
  font-family: Century;
  color: #fff;
}

.modal--pdp__guideSizes .paper {
  overflow: visible;
}
.modal--pdp__guideSizes .paper :global(.vtex-store-components-3-x-imageElement) {
  width: 55vw;
  margin-bottom: -100px;
}
@media (max-width: 1025px) {
  .modal--pdp__guideSizes .paper :global(.vtex__guideSize) {
    height: 65vh;
    overflow: scroll;
  }
}

.modal--pdp__methodsPayments {
  padding: 35px;
}
.modal--pdp__methodsPayments .paper--pdp__methodsPayments {
  overflow: initial;
}
@media (max-width: 1025px) {
  .modal--pdp__methodsPayments .paper--pdp__methodsPayments {
    max-width: 360px;
    margin: 0;
  }
}

:global(.vtex-reviews-and-ratings-3-x-container) {
  padding: 35px;
}
:global(.vtex-reviews-and-ratings-3-x-container) :global(.vtex-reviews-and-ratings-3-x-loginLink) {
  color: black;
}
:global(.vtex-reviews-and-ratings-3-x-container) :global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
  font-family: "Futura", sans-serif;
  color: #000;
  padding-bottom: 30px;
  font-weight: 300;
  text-align: center;
  display: table;
  height: auto;
  line-height: 1;
  width: 100%;
  margin: 0 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.container--product__reviews .paper--product__reviews {
  overflow: visible;
}
.container--product__reviews .paper--product__reviews :global(.vtex-reviews-and-ratings-3-x-container) {
  overflow: auto;
}

.container--search__mobile .paper--search__mobile {
  width: 100%;
  height: 100%;
  margin: 0;
  max-height: 100%;
}
.container--search__mobile .paper--search__mobile .headerContainer {
  border: 0;
  width: fit-content;
  position: absolute;
  right: 10px;
}

.triggerContainer--fast-buy {
  background-color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  z-index: 999;
  border-radius: 8px;
  width: 60px;
  border: 2px solid #bdbec0;
}
@media (max-width: 1025px) {
  .triggerContainer--fast-buy {
    bottom: 8px;
  }
}

.paper--fast-buy {
  padding: 40px;
  border-radius: 8px;
  width: 520px;
  background-color: #F9F9F9;
}
@media (max-width: 1025px) {
  .paper--fast-buy {
    padding: 20px;
  }
}

.headerContainer--fast-buy {
  border: none;
}
.headerContainer--fast-buy .closeButtonContainer--fast-buy {
  position: absolute;
  right: 10px;
  top: 10px;
}