.trigger--filter {
  all: unset;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.trigger--filter--hidden::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #565d61;
  border-right: 2px solid #565d61;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.trigger--filter--visible::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #565d61;
  border-right: 2px solid #565d61;
  rotate: 224deg;
}

.content--filter--visible {
  width: 200px;
}

.trigger--product__description-pdp {
  all: unset;
  width: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #EEEEEE;
}
@media (max-width: 1025px) {
  .trigger--product__description-pdp {
    padding: 0 15px;
  }
}
.trigger--product__description-pdp::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  top: 40%;
  right: 23px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.trigger--product__description-pdp :global(.vtex-rich-text-0-x-paragraph--product__description-pdp) {
  margin: 8px 0;
}
.trigger--product__description-pdp--visible::after {
  transform: rotate(44deg);
}

.content--product__description-pdp {
  padding: 0 10px;
}
@media (max-width: 1025px) {
  .content--product__description-pdp {
    padding: 0 15px;
  }
}
.content--product__description-pdp :global(.vtex-store-components-3-x-productDescriptionContainer) :global(.vtex-store-components-3-x-productDescriptionText) {
  white-space: pre-wrap;
  color: black;
}
.content--product__description-pdp :global(.vtex-store-components-3-x-productDescriptionText) {
  font-size: 14px;
  margin-top: 10px;
}

.trigger--footer__menu-trigger {
  all: unset;
}
@media (max-width: 768px) {
  .trigger--footer__menu-trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .trigger--footer__menu-trigger::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .trigger--footer__menu-trigger--visible::after {
    transform: rotate(-135deg);
  }
}
.trigger--footer__menu-trigger :global(.vtex-rich-text-0-x-paragraph--footer__column--title) {
  font-weight: 600;
  letter-spacing: 0.18em;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
}

@media (min-width: 768px) {
  .content--footer__menu-content {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .content--footer__menu-content {
    margin-bottom: 20px;
  }
}
.content--footer__menu-content--hidden {
  display: none;
}
.content--footer__menu-content--visible {
  display: block;
}