.menuContainerNav--menu__footer .menuContainer--menu__footer .menuItem--menu__footer .styledLinkContainer {
  margin: 18px 0 0;
  padding: 0;
}
.menuContainerNav--menu__footer .menuContainer--menu__footer .menuItem--menu__footer .styledLinkContainer .styledLink {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  letter-spacing: 0;
}