@charset "UTF-8";
.container--filter .paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #565d61;
  text-transform: uppercase;
  margin: 0;
}

.container--home_title {
  display: flex;
  justify-content: center;
  color: #655B43;
}
.container--home_title .heading--home_title {
  font-size: 64px;
  color: #655b43;
  font-weight: 400;
  margin-block-start: 100px;
}
@media (max-width: 1025px) {
  .container--home_title .heading--home_title {
    margin-block-start: 32px;
    font-size: 25px;
  }
}
.container--h1__home {
  position: absolute;
  z-index: -999;
}
.container--slider__home-title {
  justify-content: center;
}
.container--slider__home-title .paragraph {
  margin: 0;
  color: white;
  font-family: Orpheus;
  font-size: 80px;
}
@media (max-width: 1025px) {
  .container--slider__home-title .paragraph {
    font-size: 44px;
  }
}
.container--slider__home-button {
  justify-content: center;
  width: fit-content !important;
}
.container--slider__home-button .paragraph {
  background-color: white;
  padding: 17px 115px;
  border-radius: 48px;
  font-family: open sans;
  font-size: 18px;
}
@media (max-width: 1025px) {
  .container--slider__home-button .paragraph {
    padding: 17px 32px;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
}

.container--lp__first-banner {
  height: 100%;
}
.container--lp__first-banner .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container--lp__first-banner .wrapper .heading {
  font-family: Orpheus;
  text-transform: unset;
  font-size: 54px;
  word-break: break-word;
  max-width: 540px;
  text-align: center;
  margin: 0;
  font-weight: 300;
  color: var(--custom-text-color) !important;
}
@media (max-width: 1025px) {
  .container--lp__first-banner .wrapper .heading {
    width: 100%;
    display: block;
    padding: 20px 20px 0 20px;
    font-size: 40px;
    text-align: start;
  }
}
.container--lp__first-banner .wrapper .paragraph {
  color: var(--custom-text-color) !important;
}
@media (max-width: 1025px) {
  .container--lp__first-banner .wrapper .paragraph {
    display: flex;
    justify-content: end;
    width: 100%;
  }
}
.container--lp__first-banner .wrapper .paragraph .link {
  font-family: "Century";
  color: var(--custom-text-color) !important;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin: 0;
  margin-top: 55px;
  display: inline-block;
}
@media (max-width: 1025px) {
  .container--lp__first-banner .wrapper .paragraph .link {
    text-align: end;
    padding-right: 40px;
    font-size: 14px;
  }
}
.container--lp__first-banner .wrapper .paragraph .link::after {
  content: url(assets/images/LP/arrow.svg);
  margin-left: 7px;
  filter: var(--invert-filter);
}
.container--lp__title-shelf {
  justify-content: center;
}
.container--lp__title-shelf .paragraph {
  font-family: Orpheus;
  text-transform: unset;
  font-size: 54px;
  word-break: break-word;
  max-width: 540px;
  color: var(--custom-text-color) !important;
  text-align: center;
}
@media (max-width: 1025px) {
  .container--lp__secund-banner {
    width: 100%;
  }
}
.container--lp__secund-banner .wrapper {
  width: 100%;
}
.container--lp__secund-banner .heading {
  font-weight: 400;
  text-align: end;
  font-size: 48px;
  font-family: "Orpheus";
  color: var(--custom-text-color) !important;
}
@media (max-width: 1025px) {
  .container--lp__secund-banner .heading {
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 40px;
  }
}
.container--lp__secund-banner .heading .link {
  font-family: "Century";
  display: block;
  font-size: 16px;
  letter-spacing: 0.2em;
  margin-top: 55px;
  color: var(--custom-text-color) !important;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .container--lp__secund-banner .heading .link {
    font-size: 14px;
    text-align: center;
  }
}
.container--lp__secund-banner .heading .link::after {
  content: url(assets/images/LP/arrow.svg);
  margin-left: 7px;
  filter: invert(1);
  filter: var(--invert-filter);
}
.container--lp__three-banner {
  width: 39.2% !important;
  justify-content: center;
  margin-top: -80px;
}
@media (max-width: 1025px) {
  .container--lp__three-banner {
    margin: 0;
    width: 100% !important;
  }
}
.container--lp__three-banner .wrapper {
  width: 100%;
  padding: 20px;
}
.container--lp__three-banner .heading {
  font-weight: 400;
  text-align: end;
  font-size: 48px;
  font-family: "Orpheus";
  color: var(--custom-text-color) !important;
}
@media (max-width: 1025px) {
  .container--lp__three-banner .heading {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
  }
}
.container--lp__three-banner .heading .link {
  font-family: "Century";
  display: block;
  font-size: 16px;
  letter-spacing: 0.2em;
  margin-top: 55px;
  color: var(--custom-text-color) !important;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .container--lp__three-banner .heading .link {
    margin-top: 30px;
    font-size: 14px;
    text-align: end;
  }
}
.container--lp__three-banner .heading .link::after {
  content: url(assets/images/LP/arrow.svg);
  margin-left: 7px;
  filter: var(--invert-filter);
}
.container--lp__banner-text--v2 {
  position: absolute;
  bottom: 10px;
  left: 40px;
}
.container--lp__banner-text--v2 .paragraph {
  font-size: 26px;
}
@media (max-width: 768px) {
  .container--lp__banner-text--v2 .paragraph {
    font-size: 18px;
  }
}
.container--lp__banner-text--v2 .paragraph .link {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}
.container--lp__banner-text--v2 .paragraph .link::after {
  content: "";
  font-size: 22px;
  font-family: Orpheus;
  color: #000;
  letter-spacing: 0.05em;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  width: 55px;
  height: 10px;
  background-image: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.111/icons/header/big-arrow___e810883….png);
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .container--lp__banner-text--v2 {
    left: 20px;
  }
}
.container--lp__banner-final--v2 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  justify-content: center;
}
.container--lp__banner-final--v2 .paragraph {
  font-size: 26px;
}
.container--lp__banner-final--v2 .paragraph .link {
  color: black;
  text-decoration: none;
  margin: auto;
  margin-top: 20px;
  display: block;
  width: fit-content;
}
.container--lp__banner-final--v2 .paragraph .link::after {
  content: "";
  font-size: 22px;
  font-family: Orpheus;
  color: #000;
  letter-spacing: 0.05em;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  width: 55px;
  height: 10px;
  background-image: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.111/icons/header/big-arrow___e810883….png);
  background-repeat: no-repeat;
}
.container--lp__banner-wrapper--v2 {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.container--lp__banner-wrapper--v2 .paragraph .link {
  color: black;
  text-decoration: none;
}

.container--promotion__delivery {
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  margin: 20px auto 46px;
}
@media (max-width: 1025px) {
  .container--promotion__delivery {
    margin: 0 15px;
    width: 90% !important;
  }
}
.container--promotion__delivery .wrapper .paragraph {
  margin: 0;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.container--promotion__delivery .wrapper :first-child {
  background-color: white;
  width: fit-content;
  display: block;
  margin: -12px auto 0;
  padding: 0 20px;
  font-size: 16px;
}
.container--product__description-pdp .paragraph {
  font-size: 14px;
}
.container--cashback__pdp {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1025px) {
  .container--cashback__pdp {
    padding: 0 15px;
  }
}
.container--cashback__pdp::before {
  content: "";
  background-image: url(assets/icons/cashback/icon_cashback.svg);
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 15px;
}
.container--cashback__pdp .paragraph {
  font-size: 13px;
  margin: 0;
}
.container--pdp__trigger {
  width: fit-content !important;
}
.container--pdp__trigger .paragraph {
  font-size: 13px;
  text-decoration: underline;
  margin: 0;
  text-wrap: nowrap;
}
.container--pdp__methodsPayments-title {
  justify-content: center;
}
.container--pdp__methodsPayments-title .paragraph {
  font-weight: 300;
  font-size: 2em;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding-bottom: 1em;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .container--pdp__methodsPayments-title .paragraph {
    font-size: 26px;
  }
}
.container--product__review .paragraph {
  cursor: pointer;
}
.container--pdp__methodsPayments-card--title .paragraph {
  font-size: 1.3em;
  padding: 15px 0;
  font-weight: 400;
}
.container--pdp__methodsPayments-card--visa {
  display: flex;
  align-items: center;
}
@media (max-width: 1025px) {
  .container--pdp__methodsPayments-card--visa {
    gap: 10px;
  }
}
.container--pdp__methodsPayments-card--visa::before {
  content: "";
  padding-right: 15px;
  background-image: url(assets/icons/methods-payments/fp_visa.gif);
  background-repeat: no-repeat;
  width: 61px;
  height: 30px;
}
.container--pdp__methodsPayments-card--master {
  display: flex;
  align-items: center;
}
.container--pdp__methodsPayments-card--master::before {
  content: "";
  padding-right: 15px;
  background-image: url(assets/icons/methods-payments/fp_master.gif);
  background-repeat: no-repeat;
  width: 61px;
  height: 30px;
}
.container--pdp__methodsPayments-card--amex {
  display: flex;
  align-items: center;
}
.container--pdp__methodsPayments-card--amex::before {
  content: "";
  padding-right: 15px;
  background-image: url(assets/icons/methods-payments/fp_amex.gif);
  background-repeat: no-repeat;
  width: 61px;
  height: 30px;
}
.container--pdp__methodsPayments-card--elo {
  display: flex;
  align-items: center;
}
.container--pdp__methodsPayments-card--elo::before {
  content: "";
  padding-right: 15px;
  background-image: url(assets/icons/methods-payments/fp_elo.gif);
  background-repeat: no-repeat;
  width: 61px;
  height: 30px;
}
.container--pdp__methodsPayments-card--diners {
  display: flex;
  align-items: center;
}
.container--pdp__methodsPayments-card--diners::before {
  content: "";
  padding-right: 15px;
  background-image: url(assets/icons/methods-payments/fp_diners.gif);
  background-repeat: no-repeat;
  width: 61px;
  height: 30px;
}
.container--pdp__methodsPayments-card--hipercard {
  display: flex;
  align-items: center;
}
.container--pdp__methodsPayments-card--hipercard::before {
  content: "";
  padding-right: 15px;
  background-image: url(assets/icons/methods-payments/fp_hipercard.gif);
  background-repeat: no-repeat;
  width: 61px;
  height: 30px;
}
.container--pdp__methodsPayments-card .paragraph {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.9em;
  font-weight: 500;
}
@media (max-width: 1025px) {
  .container--pdp__methodsPayments-card .paragraph {
    font-size: 0.8em;
  }
}
.container--pdp__methodsPayments-pix .paragraph {
  display: flex;
  align-items: center;
}
.container--pdp__methodsPayments-pix .paragraph::before {
  content: "";
  padding-right: 15px;
  background-image: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.0/icons/methods-payments/fp_pix___363edbd….gif);
  background-repeat: no-repeat;
  background-size: contain;
  width: 61px;
  height: 30px;
}
@media (max-width: 1025px) {
  .container--pdp__guideSizes .paragraph {
    white-space: nowrap;
  }
}

.container--not-found--text .paragraph {
  font-size: 16px;
  font-family: Century;
}
@media (max-width: 768px) {
  .container--not-found--text .paragraph {
    text-align: center;
  }
}
.container--not-found--text .paragraph .strong {
  font-size: 14px;
}
.container--not-found--link {
  justify-content: flex-end;
}
@media (max-width: 1025px) {
  .container--not-found--link {
    justify-content: center;
  }
}
.container--not-found--link .paragraph {
  font-style: normal;
  font-weight: 500;
  width: 200px;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: black;
  color: white;
}
.container--not-found--link .paragraph .link {
  color: white;
  text-decoration: none;
}
.container--not-found--titleShelf .paragraph {
  font-size: 40px;
  font-weight: 300;
}

.container--newsletter__title .paragraph {
  font-family: "Futura";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 5px;
}
.container--newsletter__title .paragraph:first-child {
  font-family: "Futura";
  font-size: 18px;
  font-weight: 650;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  color: black;
  font-weight: 500;
}
.container--newsletter__policy-privacy .paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #565D61;
  margin: 15px 0 0;
  letter-spacing: initial;
}
.container--newsletter__policy-privacy .paragraph .link {
  font-weight: 400;
  color: #565D61;
}
@media (max-width: 768px) {
  .container--adress {
    display: none;
  }
}
.container--adress .paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #b5b5b5;
  margin-bottom: 0;
}
.container--footer__copyright {
  justify-content: center;
}
.container--footer__copyright .paragraph {
  padding: 10px;
  font-family: "Futura";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0;
}

.container--content__seo {
  max-width: 1800px;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.container--seo__content {
  justify-content: center;
  margin-bottom: 40px;
  padding: 0 30px;
}
@media (max-width: 1025px) {
  .container--seo__content .wrapper--seo__content .heading--seo__content {
    font-size: 24px;
  }
}
.container--seo__content .link {
  color: black;
}

.container--fast-buy .wrapper {
  width: 100%;
}
.container--fast-buy .paragraph {
  margin: 0;
  width: 100%;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-inline-start: 5px;
  font-size: 14px;
  position: relative;
}
@media (max-width: 1025px) {
  .container--fast-buy .paragraph {
    width: 55px;
    height: 30px;
    padding-inline-start: 8px;
    font-size: 12px;
  }
}
.container--fast-buy .paragraph::after {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 50%;
}
@media (max-width: 1025px) {
  .container--fast-buy .paragraph::after {
    width: 8px;
    height: 1px;
  }
}
.container--fast-buy .paragraph::before {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 50%;
  rotate: 90deg;
}
@media (max-width: 1025px) {
  .container--fast-buy .paragraph::before {
    width: 8px;
    height: 1px;
  }
}

.container--category__list-title {
  display: flex;
  justify-content: center;
}
.container--category__list-title .heading--category__list-title {
  font-size: 64px;
  color: #655b43;
}
@media (max-width: 1400px) and (min-width: 1024px) {
  .container--category__list-title .heading--category__list-title {
    margin-top: 0;
  }
}
@media (max-width: 1025px) {
  .container--category__list-title .heading--category__list-title {
    font-size: 25px;
  }
}
.container--category__list-link {
  display: flex;
  justify-content: center;
}
.container--category__list-link .paragraph--category__list-link {
  width: 184px;
  font-family: "Open Sans";
  font-size: 24px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
@media (max-width: 1025px) {
  .container--category__list-link .paragraph--category__list-link {
    width: 150px;
    font-size: 13px;
    border: 0;
  }
  .container--category__list-link .paragraph--category__list-link::after {
    content: "";
    width: 51px;
    height: 1px;
    margin: auto;
    background-color: black;
    display: block;
    margin-top: 8px;
  }
}
.container--category__list-link .paragraph--category__list-link .link {
  text-decoration: none;
  color: black;
}

.container--about-us-title {
  justify-content: center;
}
.container--about-us-title .heading {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  font-size: 34px;
}
.container--about-us__secund .heading {
  font-family: Century;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 1.4285em;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}
.container--about-us__secund .paragraph {
  font-family: Century;
  font-size: 14px;
  line-height: 1.4285em;
  margin: 0 0 1em;
  text-align: center;
}
@media (max-width: 768px) {
  .container--about-us__secund .paragraph {
    text-align: justify;
  }
}
.container--about-us__section {
  font-family: Century;
  font-size: 14px;
  line-height: 1.4285em;
}
@media (min-width: 1025px) {
  .container--about-us__section {
    margin: 0 0 1em;
  }
}
@media (max-width: 768px) {
  .container--about-us__section .paragraph {
    text-align: justify;
    margin-bottom: 0;
  }
}
.container--about-us__last-paragraph .paragraph {
  font-family: Century;
  font-size: 14px;
  line-height: 1.4285em;
  margin: 0 0 1em;
  text-align: center;
}
@media (max-width: 768px) {
  .container--about-us__last-paragraph .paragraph {
    margin: 1rem 0;
    text-align: justify;
  }
}

.container--cashback__section-one {
  color: white;
  justify-content: center;
}
.container--cashback__section-one .heading {
  text-align: center;
  margin-top: 0;
  font-size: 40px;
  font-weight: 400;
  width: fit-content;
  margin: auto;
  padding: 0 40px 10px 40px;
  border-bottom: 1px solid white;
}
@media (max-width: 1025px) {
  .container--cashback__section-one .heading {
    font-size: 28px;
    margin-bottom: 16px;
  }
}
.container--cashback__section-one .paragraph {
  font-weight: 400;
  font-size: 16px;
  font-family: "Century";
  max-width: 550px;
  text-align: center;
}
@media (max-width: 1025px) {
  .container--cashback__section-one .paragraph {
    font-size: 12px;
    max-width: 280px;
    margin: auto;
  }
}
.container--cashback__HowItWorks-title .paragraph {
  font-size: 18px;
  font-family: Futura;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 1025px) {
  .container--cashback__HowItWorks-title .paragraph {
    width: 202px;
  }
}
@media (max-width: 1025px) {
  .container--cashback__HowItWorks-title .paragraph {
    margin-bottom: 10px;
  }
}
.container--cashback__section-two--col-02 {
  justify-content: center;
}
@media (max-width: 768px) {
  .container--cashback__section-two--col-02 {
    justify-content: left;
  }
}
.container--cashback__section-two--col-02 .paragraph {
  font-size: 16px;
  margin-bottom: 10px;
}
.container--cashback__HowItWorks-paragraph .heading {
  font-family: Futura;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1025px) {
  .container--cashback__HowItWorks-paragraph .heading {
    font-size: 14px;
  }
}
.container--cashback__HowItWorks-paragraph .paragraph {
  font-family: Futura;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1025px) {
  .container--cashback__HowItWorks-paragraph .paragraph {
    font-size: 14px;
  }
}
.container--cashback__HowItWorks-paragraph .paragraph .link {
  color: #3f3f40;
}
@media (max-width: 768px) {
  .container--cashback__section-two-button .wrapper--cashback__section-two-button {
    width: 100%;
  }
}
.container--cashback__section-two-button .paragraph {
  margin: 0;
}
.container--cashback__section-two-button .paragraph .link--cashback__section-two-button {
  text-align: center;
  display: inline-block;
  font-family: "Futura";
  color: black;
  text-decoration: none;
  width: 330px;
  margin: 5px 0;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 1em 2em;
  line-height: 1em;
  border-radius: 4px;
  border: 1px solid #0c0c0c;
}
@media (max-width: 768px) {
  .container--cashback__section-two-button .paragraph .link--cashback__section-two-button {
    font-size: 14px;
    width: 100%;
  }
}
.container--cashback__section-two-button .paragraph .link--cashback__section-two-button-one {
  color: white;
  background-color: black;
}
@media (max-width: 1025px) {
  .container--cashback__section-two-button {
    justify-content: center;
    width: 100%;
  }
}
.container--cashback__regulation .wrapper--cashback__regulation .heading {
  font-family: Futura;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
}
.container--cashback__regulation .wrapper--cashback__regulation .headingLevel1 {
  font-family: Futura;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0c0c0c;
  padding: 0;
}
@media (max-width: 768px) {
  .container--cashback__regulation .wrapper--cashback__regulation .headingLevel1 {
    margin-bottom: 10px;
  }
}
.container--cashback__regulation .wrapper--cashback__regulation .paragraph {
  margin-top: 0;
  font-family: Futura;
  margin-bottom: 25px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #000000;
  display: block;
  font-weight: 400;
}
.container--cashback__regulation .wrapper--cashback__regulation .paragraph .link {
  color: black;
  font-weight: 400;
}
.container--cashback__regulation .wrapper--cashback__regulation :global(.vtex_span) {
  font-family: Futura;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.03em;
}
.container--cashback__regulation .list--cashback__regulation .listItem--cashback__regulation {
  font-family: Futura;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
}
.container--cashback__regulation .list--cashback__regulation .listItem--cashback__regulation .paragraph {
  margin-bottom: 10px;
}
.container--cashback__regulation .strong {
  font-family: Futura;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0.06em;
}
.container--cashback__regulation-button {
  width: fit-content !important;
}
@media (max-width: 768px) {
  .container--cashback__regulation-button {
    width: 100% !important;
  }
}
.container--cashback__regulation-button .wrapper {
  width: 100%;
}
.container--cashback__regulation-button .wrapper .paragraph {
  width: fit-content;
}
@media (max-width: 768px) {
  .container--cashback__regulation-button .wrapper .paragraph {
    margin: auto;
  }
}
.container--cashback__regulation-button .link {
  text-decoration: none;
  display: block;
  background: #0c0c0c;
  color: #fff;
  padding: 12px 27px;
  max-width: 330px;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
}
.container--cashback__regulation-button .link--cashback__regulation-button {
  width: 320px;
  border-radius: 4px;
}
.container--cashback__regulation-button .link--cashback__regulation-button-white {
  background-color: white;
  color: black;
  border: solid 1.5px black;
}
@media (max-width: 768px) {
  .container--cashback__regulation-button .link {
    margin-top: 16px;
  }
}

@media (max-width: 1025px) {
  .container--contact-us {
    justify-content: center;
  }
}
.container--contact-us .paragraph {
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
  font-size: 40px;
}
@media (max-width: 1025px) {
  .container--contact-us .paragraph {
    font-size: 30px;
  }
}

.container--dealer .heading {
  font-family: Futura;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 25px;
}
.container--dealer .headingLevel1 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0c0c0c;
}
.container--dealer .headingLevel2 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #000000;
}
.container--dealer .paragraph {
  font-family: Century;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 25px;
  display: block;
}
.container--dealer__button .wrapper--dealer__button {
  width: 100%;
}
@media (min-width: 1025px) {
  .container--dealer__button .wrapper--dealer__button {
    max-width: 278px;
  }
}
.container--dealer__button .paragraph .link {
  font-family: Century;
  color: white;
  text-decoration: none;
  background: #0c0c0c;
  text-transform: uppercase;
  padding: 12px 27px;
  font-weight: 400;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.container--exchange_and_returns .heading {
  font-family: Calibri;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4285em;
}
.container--exchange_and_returns .headingLevel1 {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}
.container--exchange_and_returns .link {
  color: black;
  text-decoration: none;
}
.container--exchange_and_returns .paragraph {
  font-family: Calibri;
  font-size: 14px;
}
.container--exchange_and_returns .list {
  list-style: none;
}
.container--exchange_and_returns .listItem {
  font-weight: 400;
  font-family: Calibri;
}
.container--exchange_and_returns .listItem::before {
  content: "- ";
  font-size: 20px;
}

.container--faq .headingLevel1 {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 22px;
}
.container--faq .paragraph {
  font-family: Century;
  font-size: 14px;
  line-height: 1.4285em;
}
.container--faq .link {
  color: black;
  text-decoration: none;
}

.container--table__sizes-title {
  position: absolute;
  top: 30px;
  left: 50%;
  translate: -50%;
}
.container--table__sizes-title .heading {
  font-family: "Futura";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
  text-wrap: nowrap;
}
.container--table__sizes-subtitle {
  justify-content: center;
}
.container--table__sizes-subtitle .heading {
  font-family: "Futura";
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 2rem auto;
}
.container--table__sizes-text {
  margin: 40px 0;
}
.container--table__sizes-text .heading {
  font-family: "Futura";
  font-size: 22px;
  text-transform: uppercase;
}
.container--table__sizes-text .paragraph {
  font-family: Century;
  font-size: 14px;
  line-height: 1.4285em;
}

.container--terms .heading-level-1 {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}
.container--terms .heading-level-2 {
  font-family: Century;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  line-height: 1.4285em;
}
.container--terms .heading-level-3 {
  font-family: Century;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  line-height: 1.4285em;
  text-transform: uppercase;
}
.container--terms .headingLevel4 {
  font-family: Century;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  line-height: 1.4285em;
}
.container--terms .paragraph {
  font-family: Century;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  line-height: 1.4285em;
  margin: 2rem 0;
}

.container--livelo__fullBanner {
  justify-content: center;
}
.container--livelo__fullBanner .paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}
.container--livelo__fullBanner .paragraph .link {
  display: inline-block;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: black;
}
.container--livelo__fullBanner .heading {
  border: none;
  background: #ff0a8c;
  color: #ffffff;
  border-radius: 200px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  width: 178px;
  text-align: center;
  font-family: Futura;
  margin: 10px 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}