.flexRow--footer__adress, .flexRow--footer__wrapper .flexRowContent {
  width: 100%;
  max-width: 1098px;
  margin: 0 auto;
}
@media all and (max-width: 1024px) {
  .flexRow--footer__adress, .flexRow--footer__wrapper .flexRowContent {
    width: calc(100% - 30px);
  }
}

.flexRow .stretchChildrenWidth {
  display: contents;
}

.flexRow--footer__wrapper {
  background: #eee;
  padding: 70px 10px;
}
.flexRow--footer__wrapper .flexRowContent {
  justify-content: space-between;
  padding: 0;
}
.flexRow--footer__wrapper .flexRowContent .flexCol--footer__menu-col {
  width: fit-content;
}
.flexRow--footer__wrapper .flexRowContent .flexCol--footer__newsletter {
  max-width: 410px;
  padding-left: 20px;
}
.flexRow--footer__social {
  max-width: 354px;
}
.flexRow--footer__social .flexRowContent {
  justify-content: space-between;
}
.flexRow--footer__adress {
  padding: 27px 0px;
}
.flexRow--footer__adress .flexRowContent {
  align-items: center;
}
.flexRow--footer__copyright {
  background-color: #000;
}