@charset "UTF-8";
:global(.vtex-product-highlights-2-x-productHighlightWrapper) {
  font-size: 0;
  padding: 5px 15px;
}
:global(.vtex-product-highlights-2-x-productHighlightWrapper) :global(.vtex-product-highlights-2-x-productHighlightText)[data-highlight-id="138"]::after,
:global(.vtex-product-highlights-2-x-productHighlightWrapper) :global(.vtex-product-highlights-2-x-productHighlightText)[data-highlight-id="157"]::after,
:global(.vtex-product-highlights-2-x-productHighlightWrapper) :global(.vtex-product-highlights-2-x-productHighlightText)[data-highlight-id="159"]::after,
:global(.vtex-product-highlights-2-x-productHighlightWrapper) :global(.vtex-product-highlights-2-x-productHighlightText)[data-highlight-id="177"]::after {
  content: "Sale";
  font-family: "Futura";
  font-weight: 650;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: center;
  color: #808080;
}

.productHighlightWrapper {
  font-size: 0;
  padding: 5px 15px;
}
.productHighlightWrapper .productHighlightText[data-highlight-id="138"]::after,
.productHighlightWrapper .productHighlightText[data-highlight-id="157"]::after,
.productHighlightWrapper .productHighlightText[data-highlight-id="159"]::after,
.productHighlightWrapper .productHighlightText[data-highlight-id="177"]::after {
  content: "Sale";
  font-family: "Futura";
  font-weight: 650;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: center;
  color: #808080;
}

.productHighlightWrapper--collection .productHighlightText[data-highlight-name=sustentavel] {
  background: #f3f3f3;
  color: #018002;
  font-size: 0px;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  padding: 2px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 84px;
  margin-top: 12px;
}
.productHighlightWrapper--collection .productHighlightText[data-highlight-name=sustentavel]::before {
  content: "Sustentável";
  font-size: 14px;
}
.productHighlightWrapper--collection .productHighlightText[data-highlight-name=sustentavel]::after {
  content: url(assets/icons/shelf/icon-leaf.png);
}