.listPriceValue--product__price-pdp {
  text-decoration: none;
}
@media (max-width: 1025px) {
  .listPriceValue--product__price-pdp {
    padding-left: 15px;
  }
}

.currencyContainer--product__price-pdp {
  font-size: 12px;
  color: #71767F;
  text-decoration: line-through;
}

.installmentsListContainer--pdp__methodsPayments {
  display: flex;
  flex-direction: column;
}
.installmentsListContainer--pdp__methodsPayments .installments {
  border-top: 1px solid #999;
  padding: 0.5em 0 !important;
  font-weight: 400;
}

.sellingPrice--shelf {
  display: flex;
  justify-content: start;
  width: fit-content !important;
}
.sellingPrice--shelf .currencyContainer--shelf {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (max-width: 1025px) {
  .sellingPrice--shelf .currencyContainer--shelf {
    font-size: 12px;
  }
}

.savings--shelf {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: black;
  width: fit-content !important;
}
@media (max-width: 1025px) {
  .savings--shelf {
    padding-left: 5px;
    font-size: 12px;
  }
}

.installments--shelf {
  width: fit-content !important;
  font-size: 12px;
  line-height: 14px;
}
@media (max-width: 1025px) {
  .installments--shelf {
    text-align: start;
    font-size: 11px;
  }
}

.listPrice--shelf {
  width: auto !important;
}
.listPrice--shelf .currencyContainer--shelf {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #71767F;
}
@media (max-width: 1025px) {
  .listPrice--shelf .currencyContainer--shelf {
    font-size: 12px;
  }
}
@media (max-width: 1025px) {
  .listPrice--shelf {
    width: 100% !important;
    display: flex;
  }
}