.sliderLayoutContainer--search__result {
  padding: 20px;
}
@media (min-width: 1025px) {
  .sliderLayoutContainer--search__result .sliderTrack {
    gap: 10px;
  }
}

.sliderLayoutContainer--shelf {
  max-width: 1800px;
  margin: auto;
}
@media (min-width: 1025px) {
  .sliderLayoutContainer--shelf .slide--shelf .slideChildrenContainer--shelf :global(.vtex-product-summary-2-x-containerNormal) {
    overflow: visible;
    max-width: calc(100% - 8px) !important;
  }
}
@media (max-width: 1025px) {
  .sliderLayoutContainer--shelf .sliderArrows--shelf {
    translate: 0 -50px;
  }
}

.sliderLayoutContainer--shelf {
  padding: 0 !important;
}

@media (max-width: 1025px) {
  .sliderLayoutContainer--carousel :global(.vtex-store-components-3-x-imageElementLink--slider__home) {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .sliderLayoutContainer--carousel :global(.vtex-store-components-3-x-imageElement--slider__home) {
    width: 100%;
  }
}
.sliderLayoutContainer--carousel .paginationDotsContainer--carousel {
  bottom: 17px;
}
.sliderLayoutContainer--carousel .paginationDot--carousel {
  width: 100px !important;
  height: 3px !important;
  background-color: white;
  border-radius: 1.5px;
  padding: 0;
  opacity: 0.5;
}
.sliderLayoutContainer--carousel .paginationDot--carousel--isActive {
  opacity: 1;
}

@media (max-width: 1025px) {
  .caretIcon--shelf {
    height: 20px;
    color: black;
  }
}