.stackContainer--shelf {
  position: relative;
}
.stackContainer--shelf .stackItem--shelf--fast-buy {
  top: calc(100% - 8px);
  left: calc(100% - 8px);
  width: fit-content;
  height: fit-content;
  translate: -100% -100%;
}