.flexRow {
  &--main-header {
    .flexRowContent--main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 78px;
    }
  }

  &--main-header-mobile {
    .flexRowContent--main-header-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 78px;
    }
  }

  &--headers__icons{
    .flexRowContent{
      justify-content: end;
      align-items: center;
    }
  }
}
