.flexRow {
  &--main-header {
    background-color: white;
    .flexRowContent--main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: 78px;
      max-width: 1800px;
      margin: auto;
    }
  }

  &--main-header-mobile {
    background-color: white;
    .flexRowContent--main-header-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 78px;
    }
  }

  &--headers__icons{
    .flexRowContent{
      justify-content: end;
      align-items: center;
    }
  }
}

.flexCol--header__drawer-mobile-right{
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
  top: 10px;
  align-items: center;
  height: fit-content;
  justify-content: end;
  .flexColChild--header__drawer-mobile-right{
    height: fit-content;
  }
}