.flexRow{
    &--not-found{
        margin: 40px 0;
        .flexRowContent{
            .flexCol--not-found{
                max-width: 1300px;
                margin: auto;
            }
        }
    }
}