@font-face {
  font-family: "Futura PT";
  src: url("https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.3/fonts/FuturaPT-Medium___202077f72bf63ac2188b8be002217983.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.6/fonts/FuturaPT-Light___08c14cf47a987d891e31cb7456926fc6.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.3/fonts/CenturyGothic___9a5496921453f748b822ff786390a70b.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.new-carrinho {
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #c7c7c7;
}

.container-cart {
  max-width: 1282px;
  padding: 0 10px;
}

.table.cart-items td.product-image a {
  margin: 0;
}

cart-template th.product {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #565d61;
}

.new-carrinho .wrapper {
  max-width: 1282px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-carrinho .wrapper .logo {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: 0 0 0 10px;
}

.new-carrinho .wrapper .contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.new-carrinho .wrapper .contact p {
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.1em;
}

.new-carrinho .wrapper .contact p.email {
  font-weight: bold;
}

.new-carrinho .wrapper .contact p.email a {
  text-decoration: none;
  color: #444;
}

.new-carrinho .wrapper .contact p.title {
  text-transform: uppercase;
}

.product-name small.seller {
  display: none !important;
}

.product__color,
.product__size {
  color: #767676;
  font-size: 14px;
  font-family: Futura PT;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 0;
}

.product__color {
  margin-top: 10px;
}

footer .top {
  background: #eee;
  padding: 70px 10px;
}

footer .wrapper {
  max-width: 1098px;
  margin: auto;
}

footer .top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .top .wrapper {
  justify-content: space-between;
  margin: auto;
}

footer .top .wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .top .wrapper .left>div.institucional {
  padding-left: 0;
}

footer .top .wrapper .left>div {
  padding: 0 20px;
}

footer .top .wrapper .left span.title {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  color: #000;
}

footer ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

footer .wrapper .left ul li {
  text-align: left;
  margin: 18px 0;
}

footer .top .wrapper .left ul li a {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  letter-spacing: 0;
}

footer .top .wrapper .right .newsletter {
  max-width: 410px;
}

footer .top .wrapper .right .newsletter span.title {
  font-family: Futura PT;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  color: black;
}

footer .top .wrapper .right .newsletter .subtitle {
  font-family: "Futura PT";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 5px;
  color: #000000;
  margin-top: 12px;
}

footer .input-wrapper label {
  display: flex;
  vertical-align: top;
  margin-top: 9px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 0.97em;
}

footer .top .wrapper .right .newsletter .wd-marketing-newsletter form .form-wrapper .input-wrapper label {
  display: flex;
  font-weight: normal;
  padding-left: 15px;
}

footer .top .wrapper .right .newsletter .wd-marketing-newsletter form .form-wrapper .input-wrapper.input-button-marketing-newsletter {
  width: 116px;
}

.wd-marketing-newsletter .input-wrapper:last-child {
  text-align: right;
  padding-bottom: 0;
}

footer .top .wrapper .right .newsletter .wd-marketing-newsletter form .form-wrapper .input-wrapper.input-email-marketing-newsletter input {
  font-family: Futura;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  height: 40px;
  width: 100%;
  color: #565d61;
  font-style: normal;
  border-radius: 0;
  border: 0;
  padding: 0;
}

footer .newsletter__send {
  display: flex;
  align-items: center;
}

#checkoutMainContainer {
  padding-bottom: 0 !important;
}

footer .newsletter__send button {
  font-family: Futura PT;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  background-color: black;
  height: 40px;
  width: 146px;
  border-radius: 0;
}

input#newsletter-email-wd26 {
  height: 48px !important;
  width: calc(100% - 109px);
}

footer .middle {
  background: #fff;
  padding: 27px 10px;
}

footer .middle .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .middle .wrapper .left .about p {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #b5b5b5;
  margin-bottom: 0;
}

footer .middle .wrapper .right {
  max-width: 354px;
  width: 100%;
}

.gift-card-provider-default {
  padding: 10px;
}

.orderform-template-holder #payment-data input#payment-discounts-code {
  width: 60% !important;
}

footer .middle .wrapper .right .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .bottom {
  background: #000;
}

footer .bottom .copy p {
  color: #fff;
  text-align: center;
  margin-bottom: -4px;
  padding: 10px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.wd-browsing-breadcrumbs {
  display: block;
  margin: 10px 0 0 0;
}

.wd-browsing-breadcrumbs ul {
  display: flex;
  list-style: none;
  max-width: 1282px;
  padding: 0 10px;
  margin: auto;
}

.wd-browsing-breadcrumbs li:not(.last) a {
  color: #666;
}

.wd-browsing-breadcrumbs li:not(.last):after {
  font-weight: 400;
  content: "/";
  opacity: 0.7;
  color: rgba(0, 0, 0, 0.4);
  margin: 0 0.5rem;
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
}

.wd-browsing-breadcrumbs li span {
  font-size: 14px;
  font-family: CenturyGothic;
  color: #666;
}

.wd-browsing-breadcrumbs li.last {
  font-size: 14px;
  font-family: CenturyGothic;
  color: #666;
}

.container-cart::before {
  content: "Meu carrinho";
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.1em;
  color: #000000;
  z-index: 99;
  margin-top: 50px;
  display: block;
  position: relative;
}

.body-cart-vertical .cart-template.full-cart.active {
  margin-top: 30px;
}

.table.cart-items thead tr th.product {
  width: calc(100% - 380px) !important;
  padding-left: 120px;
}

.table.cart-items thead tr th {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #565d61;
}

.table.cart-items td.product-name a {
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: Futura PT;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5em;
}

.table.cart-items td.quantity {
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 0px;
  border: 1px solid #cbcbcb;
  float: left;
  min-width: 120px;
  height: 40px;
  text-align: center;
  justify-content: space-between;
}

.item-multiplier-label,
.item-unit-label {
  display: none;
}

.table.cart-items td.quantity .item-quantity-change.item-quantity-change-decrement i:before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: #000;
  margin-left: 5px;
}

.table.cart-items td.quantity .item-quantity-change i:before {
  font-weight: bold;
  font-size: 22px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #000;
  border-radius: 100%;
}

.old-product-price {
  display: none;
  font-family: CenturyGothic;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
}

.new-product-price {
  font-family: CenturyGothic;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}

.table.cart-items i.icon.icon-remove.item-remove-ico:before {
  content: url(https://guessbr.vtexassets.com/assets/vtex.file-manager-graphql/images/17b9316e-2ca5-4399-ab18-a5a31fd424b6___ce48eea4d9a64c2d2b03fe7f0ec65d8e.svg?width=309&height=204&aspect=true);
  width: 15px;
  height: 15px;
}

.table.cart-items thead tr th.product-price {
  font-size: 0;
  display: flex;
  margin-left: 30px;
}

.table.cart-items thead tr th.product-price::before {
  content: "Preço Unitário";
  font-size: 14px;
}

.loyality-points {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin-bottom: 15px; */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px 10px;
}

.loyality-points::before {
  content: "CASHBACK";
  position: relative;
  top: -10px;
  background: white;
  padding: 0px 15px;
  margin: 0 auto;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0c0c0c;
}

.loyality-points .text {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #0c0c0c;
}

.b-frete {
  position: relative;
  width: 100%;
  margin-bottom: 20px !important;
  color: black !important;
}

.frete-title {
  position: absolute;
  top: -15px;
  left: 50%;
  translate: -50%;
  background: #eeeeee !important;
  padding: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.15em;
  text-align: center;
  white-space: nowrap;
}

.frete-box {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

.frete-free {
  margin: 0px !important;
  font-size: 11px;
  font-family: "Futura PT", sans-serif;
}

.aceite-news {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.aceite-news div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.aceite-news .politica_checkbox {
  width: 18px;
  height: 18px;
  margin-top: 0;
  border: 1px solid #000;
  border-radius: 0;
}

.text-politica p {
  font-family: "Futura PT";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #565D61;
  margin: 0;
  letter-spacing: initial;
}

.text-politica p a {
  text-decoration: underline;
  color: #565D61;
}

#shipping-preview-container .srp-main-title {
  display: none;
}

.vtex-shipping-preview-0-x-pc .ship-postalCode {
  width: calc(100% - 80px) !important;
}

#shipping-preview-container .ship-postalCode label {
  font-size: 0;
}

#shipping-preview-container .ship-postalCode label::before {
  content: "Calcule frete e prazo de entrega";
  font-size: 14px;
  font-family: Futura PT;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  text-transform: unset;
  margin-bottom: 10px;
  display: inline-block;
}

.srp-postal-code__form {
  width: 100%;
}

.vtex-shipping-preview-0-x-pc .btn {
  border: 0 !important;
}

#ship-postalCode {
  width: 100%;
  font-family: Futura PT;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  color: #565d61;
  display: block;
  height: 40px;
  border-radius: 0;
  border: 0;
}

#ship-postalCode.error {
  width: 100%;
  font-family: Futura PT;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  color: #565d61;
  height: 40px;
  display: block;
  border-radius: 0;
  border: 0;
}

.vtex-shipping-preview-0-x-postalCodeForgotten .help.error {
  display: none;
}

#cart-shipping-calculate {
  display: block;
  width: 80px;
  height: 40px;
  background: #1b1c1d;
  padding: 0;
  border-radius: 0;
  font-family: Futura PT;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-size: 0;
}

.vtex-shipping-preview-0-x-postalCodeForgotten small a {
  display: block;
  text-align: left;
  margin-top: 20px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: underline;
}

#cart-shipping-calculate::before {
  content: "OK";
  font-size: 12px;
}

.vtex-shipping-preview-0-x-postalCodeForgotten {
  border: 0;
  background: #eeeeee;
  padding: 16px 22px;
}

.summary-coupon-wrap {
  border: 0;
  background: #eeeeee;
  padding: 16px 22px;
}

.summary-template-holder .summary-coupon-wrap {
  width: auto !important;
  margin-top: 5px;
}

.summary-template-holder .summary-coupon-wrap::before {
  content: "Cupom de Desconto";
  font-family: Futura PT;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  text-transform: unset;
  display: block;
  margin-bottom: 10px;
}

.summary-template-holder .summary-coupon p.coupon-fields span input {
  margin: 0;
  width: calc(100% - 80px);
}

#cart-coupon-add {
  display: block;
  width: 80px;
  height: 40px !important;
  background: #1b1c1d;
  padding: 0;
  border-radius: 0;
  font-family: Futura PT;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-size: 0;
  border: 0 !important;
}

#cart-coupon-add::before {
  content: "OK";
  font-size: 12px;
}

.accordion-inner .totalizers-list {
  border-top: 0;
}

.summary-template-holder .cart-links-bottom {
  margin-top: 0;
  background: #eeeeee;
  padding: 16px 22px 1px;
}

.accordion-inner {
  height: auto;
  border: 0;
  background: #eeeeee;
  margin-top: 5px !important;
  padding: 16px 22px 20px !important;
}

.accordion-inner::before {
  content: "Resumo do Pedido";
  font-family: Futura PT;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

#cart-to-orderform {
  border-radius: 0;
  width: 100%;
  margin: 0;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 0;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 11px 0;
}

#cart-to-orderform::before {
  content: "Finalizar Compra";
  font-size: 14px;
  letter-spacing: 0.1em;
}

.totalizers-list .info {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.totalizers-list .monetary {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.full-cart .totalizers tfoot td.info {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.btn-place-order-wrapper {
  display: block;
  padding-bottom: 40px;
  position: relative;
}

.btn-place-order-wrapper::after {
  content: "Compra 100% segura";
  display: inline-block;
  background-image: url(https://guessbr.vtexassets.com/assets/vtex.file-manager-graphql/images/21f4a4c8-98f3-4d15-aa1f-32ed2a631853___30a0079….svg?width=309&height=204&aspect=true);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  padding-left: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50%;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #565d61;
}

.full-cart .totalizers tfoot td.monetary {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #000000;
}

.sellerCode label {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  text-transform: unset;
  display: block;
  margin-bottom: 10px;
}

.sellerCode__input input {
  height: 40px;
  line-height: 40px;
  max-height: initial;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  width: calc(100% - 100px);
  border: 1px solid #cbcbcb;
}

.sellerCode__input {
  display: flex;
  align-items: center;
}

#sellerCode__btn {
  display: block;
  width: 80px;
  height: 40px !important;
  background: #1b1c1d;
  padding: 0;
  border-radius: 0;
  font-family: Futura PT;
  font-weight: normal;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-size: 12px;
  border: 0 !important;
}

.sellerCode__form {
  margin-top: 10px;
  background: #eeeeee;
  padding: 16px 22px;
}


.btn-success {
  width: 100%;
  margin: 0;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
  background: #000000;
  border-radius: 0;
}

.forms.coupon-column.summary-coupon-wrap.span7.pull-left {
  width: 100% !important;
  padding: 16px 22px !important;
}

.orderform-template .cart-template.mini-cart .summary-template-holder input[type=text] {
  height: 40px !important;
}

.bt-keep-buying {
  font-family: Futura PT;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  border-radius: 0;
  padding: 0.8em 2em;
  border: 1px solid #1b1c1d;
}

@media (max-width: 768px) {
  #header {
    background-color: white;
    height: auto;
  }

  .new-carrinho .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .new-carrinho .wrapper .logo {
    width: 107px;
    justify-content: center;
    position: static;
  }

  .new-carrinho .wrapper .logo svg {
    width: 100%;
  }

  .container-cart::before {
    font-size: 24px;
  }

  .summary-totalizers .srp-container {
    max-width: 100% !important;
  }

  .bt-keep-buying {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
  }

  .full-cart .cart table tbody tr td.product-price {
    float: left;
    margin-left: 90px;
  }

  .table.cart-items td.quantity {
    min-width: 90px;
    position: absolute;
    right: 30px;
  }

  .product-name {
    max-width: 215px;
  }

  .product-name small.seller {
    display: none !important;
  }


  .PaymentCardCVVHelp {


    margin-left: 300px !important;

  }

  .product__color,
  .product__size {
    color: #767676;
    font-size: 14px;
    font-family: Futura PT;
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .product__color {
    margin-top: 15px;
  }

  .cart-template-holder .cart {
    margin-bottom: 0;
  }

  .cart-more-options .cart-select-gift-placeholder:empty {
    display: none !important;
  }

  .summary-template-holder {
    padding: 0;
  }

  .summary-template-holder .cart-links-bottom {
    position: static;
    width: auto;
  }

  footer .top {
    padding: 0;
  }

  footer .top .wrapper {
    flex-direction: column-reverse;
  }

  footer .top .wrapper .left {
    padding: 10px 20px;
    display: block;
    width: -webkit-fill-available;
    background: #fff;
    padding: 10px 20px;
  }

  footer .top .wrapper .left>div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eeeeee;
    padding: 0;
  }

  footer .top .wrapper .left>div .title {
    text-align: left;
    padding: 20px 0;
    position: relative;
    margin: 0;
    font-family: Futura PT;
    letter-spacing: 0.18em;
  }

  footer .top .wrapper .left>div .title::after {
    content: "";
    display: block;
    position: absolute;
    right: 3px;
    top: 42%;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  footer .top .wrapper .left>div ul {
    display: none;
  }

  footer .top .wrapper .left>div ul.active {
    display: block;
  }

  footer .top .wrapper .right {
    padding: 26px 20px 20px;
  }

  footer .top .wrapper .right .newsletter .subtitle {
    font-size: 17px;
  }

  footer .top .wrapper .right .newsletter label {
    font-family: "Futura PT";
    letter-spacing: 0.18em;
    font-size: 0.97em;
  }

  footer .top .wrapper .right .newsletter input#newsletter-email-wd26 {
    height: 48px !important;
    width: calc(100% - 109px);
  }

  footer .top .wrapper .right .newsletter button {
    height: 48px !important;
    width: 109px;
  }

  footer .top .wrapper .right .newsletter .aceite-news>div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  footer .top .wrapper .right .newsletter .aceite-news>div input {
    margin: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 0;
  }

  footer .top .wrapper .right .newsletter .aceite-news>div label {
    font-size: 17px;
    letter-spacing: 0;
  }

  footer .top .wrapper .right .newsletter .text-politica p {
    font-size: 16px;
    font-family: "Futura PT";
    margin-top: 15px;
  }

  footer .top .wrapper .right .newsletter .text-politica p a {
    font-weight: bold;
    text-decoration: underline;
  }

  footer .middle {
    padding: 26px 20px;
  }

  footer .middle .wrapper {
    justify-content: initial;
  }

  footer .middle .wrapper .left {
    display: none;
  }

  footer .bottom .copy p {
    font-weight: 300;
    max-width: 300px;
    margin: auto;
  }
}