.container {
  &--cashback__section-one {
    color: white;
    justify-content: center;

    .heading {
      text-align: center;
      margin-top: 0;
      font-size: 40px;
      font-weight: 400;
      width: fit-content;
      margin: auto;
      padding: 0 40px 10px 40px;
      border-bottom: 1px solid white;
      @include tablet {
        font-size: 28px;
        margin-bottom: 16px;
      }
    }

    .paragraph {
      font-weight: 400;
      font-size: 16px;
      font-family: "Century";
      max-width: 550px;
      text-align: center;
      @include tablet {
        font-size: 12px;
        max-width: 280px;
        margin: auto;
      }
    }
  }

  &--cashback__HowItWorks-title {
    @include tablet {
    }
    .paragraph {
      font-size: 18px;
      font-family: Futura;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      margin-bottom: 20px;
      @include desktop {
        width: 202px;
      }
      @include tablet {
        margin-bottom: 10px;
      }
    }
  }

  &--cashback__section-two--col-02 {
    justify-content: center;
    @include mobile {
      justify-content: left;
    }
    .paragraph {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &--cashback__HowItWorks-paragraph {
    .heading {
      font-family: Futura;
      font-size: 16px;
      font-weight: 600;
      @include tablet {
        font-size: 14px;
      }
    }
    .paragraph {
      font-family: Futura;
      font-size: 16px;
      font-weight: 400;
      @include tablet {
        font-size: 14px;
      }

      .link {
        color: #3f3f40;
      }
    }
  }

  &--cashback__section-two-button {
    .wrapper--cashback__section-two-button {
      @include mobile {
        width: 100%;
      }
    }
    .paragraph {
      margin: 0;

      .link--cashback__section-two-button {
        text-align: center;
        display: inline-block;
        font-family: "Futura";
        color: black;
        text-decoration: none;
        width: 330px;
        margin: 5px 0;
        letter-spacing: 2px;
        font-size: 15px;
        padding: 1em 2em;
        line-height: 1em;
        border-radius: 4px;
        border: 1px solid #0c0c0c;

        @include mobile {
          font-size: 14px;
          width: 100%;
        }

        &-one {
          color: white;
          background-color: black;
        }
      }
    }
    @include tablet {
      justify-content: center;
      width: 100%;
    }
  }

  &--cashback__regulation {
    .wrapper--cashback__regulation {
      .heading {
        font-family: Futura;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #000000;
        margin-bottom: 10px;
      }

      .headingLevel1 {
        font-family: Futura;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #0c0c0c;
        padding: 0;
        @include mobile {
          margin-bottom: 10px;
        }
      }

      .paragraph {
        margin-top: 0;
        font-family: Futura;
        margin-bottom: 25px;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #000000;
        display: block;
        font-weight: 400;
        .link {
          color: black;
          font-weight: 400;
        }
      }

      :global(.vtex_span) {
        font-family: Futura;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.03em;
      }
    }
    .list--cashback__regulation {
      .listItem--cashback__regulation {
        font-family: Futura;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.03em;
        .paragraph {
          margin-bottom: 10px;
        }
      }
    }
    .strong {
      font-family: Futura;
      font-style: normal;
      line-height: 18px;
      letter-spacing: 0.06em;
    }
  }
  &--cashback__regulation-button {
    width: fit-content !important;
    @include mobile{
      width: 100% !important;
    }
    
    .wrapper {
      width: 100%;
      .paragraph{
        width: fit-content;
        @include mobile{
          margin: auto;
        }
      }
    }
    .link {
      text-decoration: none;
      display: block;
      background: #0c0c0c;
      color: #fff;
      padding: 12px 27px;
      max-width: 330px;
      letter-spacing: 1.5px;
      text-align: center;
      font-weight: 600;
      margin-top: 50px;
      &--cashback__regulation-button {
        width: 320px;
        border-radius: 4px;
        &-white{
          background-color: white;
          color: black;
          border: solid 1.5px black;
        }
      }
      @include mobile{
        margin-top: 16px;
      }
    }
  }
}
