.flexRow {
  &--cashback__container {
    .flexRowContent--cashback__container {
      flex-direction: column;
      max-width: 1366px;
      margin: auto;
    }
  }
  &--cashback__section-one {
    background-color: black;
    height: 250px;
    max-width: 1366px;
    display: flex;
    align-items: center;
    .flexRowContent--cashback__section-one {
      @include mobile {
        flex-direction: column;
      }
    }
    @include tablet{
      height: 180px;
    }
  }

  &--cashback__HowItWorks-row{
    .flexRowContent{
      gap: 30px;
      display: flex;
      @include mobile{
        gap: 16px;
      }
    }
    :global(.vtex-store-components-3-x-imageElement){
      width: 32px;
      height: 32px;
      margin-block-start: 0.83em;
      @include tablet{
        width: 24px;
        height: 24px;
      }
    }
  }

  &--cashback__section-two {
    margin: 80px auto 100px;
    max-width: 1200px;
    .flexRowContent--cashback__section-two{
      align-items: center;
      gap: 100px;
    }
    .flexCol {
      width: auto;
      margin: 0 30px;
    }
    @include tablet{
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }

  &--cashback__regulation {
    .flexRowContent--cashback__regulation {
      max-width: 1366px;
      margin: auto;
      flex-direction: column;
     

      :global(.vtex-store-components-3-x-imageElement--cashback__regulation-banner){
        width: 100%;
        display: block;
        margin: auto;
      }

      .flexCol--cashback__regulation {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 80px;
        @include mobile{
          width: 90%;
          margin-top: 10px;
        }

        :global(.vtex-store-components-3-x-imageElement){
          display: block;
        }
      }
    }
  }

  &--cashback__regulation-button{
    .flexRowContent{
      gap: 15px;
    }
  }
}
