.container {
    &--promotion__delivery {
        justify-content: center;
        border: 1px solid black;
        width: 100%;
        margin: 20px auto 46px;

        .wrapper {
            .paragraph {
                margin: 0;
                text-align: center;
                padding: 10px 0;
                font-size: 14px;
            }

            :first-child {
                background-color: white;
                width: fit-content;
                display: block;
                margin: -12px auto 0;
                padding: 0 20px;
                font-size: 16px;
            }

        }
    }

    &--product__description-pdp {
        .paragraph {
            font-size: 14px;
        }
    }

    &--cashback__pdp {
        display: flex;
        align-items: center;
        gap: 10px;

        &::before {
            content: "";
            background-image: url(assets/icons/cashback/icon_cashback.svg);
            background-repeat: no-repeat;
            display: block;
            width: 15px;
            height: 15px;
        }

        .paragraph {
            font-size: 13px;
            margin: 0;

        }
    }
}