.flexRow {
  &--product-main {
    max-width: 1800px;
    padding: 0 20px;
    margin: auto;
    @include mobile{
      padding: 0;
    }
    .flexRowContent--product-main {
      justify-content: space-between;
    }
    .flexCol--product__col-left {
      width: 60%;
      margin-right: 50px;
      :global(.vtex-store-components-3-x-content--product-image-grid) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        :global(
            .vtex-store-components-3-x-productImageTag--product-image-grid--main
          ) {
          max-height: 855px !important;
        }
      }
    }
    .flexCol--product__right-col {
      width: 40%;
      max-width: 430px;
      position: sticky;
      top: 100px;
      @include tablet{
        position: static;
      }

      :global(.vtex-address-form__postalCode) {
        :global(.vtex-input__label) {
          font-size: 0;
          &::before {
            content: "Simule frete e prazo de entrega";
            font-size: 14px;
            letter-spacing: 0.8px;
            padding-left: 10px;
          }
        }

        :global(.vtex-address-form__postalCode-forgottenURL) {
          :first-child {
            text-decoration: underline;
          }
          :global(.vtex__icon-external-link) {
            display: none;
          }
        }
      }
      :global(.vtex-address-form__field-focused) {
        :global(.vtex-input-prefix__group) {
          &::before {
            content: "";
          }
        }
      }
      :global(.vtex-add-to-cart-button-0-x-buttonText) {
        text-transform: none;
        font-size: 16px;
        line-height: 16px;
        &:hover {
          color: white;
        }
      }

      :global(.vtex-store-components-3-x-shippingContainer) {
        position: relative;
        margin-top: 70px;

        :global(.vtex-button) {
          position: absolute;
          top: 25px;
          right: 0;
          width: fit-content;
          height: 40px;
          width: 71px;
          background-color: black;
          :global(.vtex-button__label) {
            font-size: 0;
            &::before {
              content: "Ok";
              font-size: 14px;
              color: white;
              text-transform: none;
            }
          }
        }

        :global(.vtex-address-form__postalCode-forgottenURL) {
          padding-inline-start: 10px;
        }
      }

      :global(.vtex-store-components-3-x-subscriberContainer) {
        margin-top: 70px;
      }
    }
  }

  &--pdp__installmentsAndPayments {
    .flexRowContent {
      @include tablet {
        padding: 0 15px;
        display: flex;
        gap: 26px;
        flex-direction: column;
        border-bottom: 1px solid #eeeeee;
      }
    }
  }

  &--buy-button {
    @include tablet {
      padding: 0 15px;

      :global(.vtex-add-to-cart-button-0-x-buttonText) {
        text-transform: none;
      }
    }
    :global(.vtex-button) {
      margin: 20px 0 30px;
      height: 48px;
      &:hover {
        color: white;
        border: none;
      }
    }
  }

  &--product__name-pdp {
    :global(.vtex-store-components-3-x-productNameContainer--quickview) {
      font-size: 20px;
      @include tablet {
        padding: 0 15px;
      }
    }
  }

  &--product__review {
    margin-top: 10px;
    margin-bottom: 20px;
    .flexRowContent {
      gap: 10px;
      display: flex;
      @include tablet {
        padding: 0 15px;
      }
    }
    :global(.vtex-reviews-and-ratings-3-x-inlineContainer) {
      width: fit-content;
    }
  }

  &--product__price-pdp {
    margin-top: 5px;
    .flexRowContent--product__price-pdp {
      gap: 5px;
      display: flex;
      @include tablet {
        margin-bottom: 5px;
        padding-left: 15px;
        :global(.vtex-product-price-1-x-currencyContainer),
        :global(.vtex-product-price-1-x-savings) {
          font-size: 14px;
        }
      }
    }
  }

  &--pdp__flex {
    .flexRowContent {
      justify-content: space-between;
      margin-bottom: 50px;
      @include tablet {
        margin-bottom: 0px;
        padding-bottom: 26px;
      }
    }
  }

  &--pdp__skuAndGuideSizes {
    .flexRowContent {
      margin-bottom: 0;
      display: flex;
      @include tablet {
        padding: 0 15px;
      }
    }
  }

  &--pdp__methodsPayments {
    overflow: hidden;
    .flexRowContent {
      flex-direction: column;
      overflow: scroll;
      height: 700px;
      padding: 35px;
      @include tablet {
        padding-bottom: 100px;
      }
    }
  }

  &--product-breadcrumb {
    .flexRowContent {
      :global(.vtex-breadcrumb-1-x-container) {
        font-size: 12px;
        max-width: 1800px;
        padding: 0 20px;
        margin: 24px 0;

      }
      @include tablet {
        margin-bottom: 15px;
        :global(.vtex-breadcrumb-1-x-container) {
          font-size: 12px;
          display: flex;
          height: 14px;
          padding: 0;
          max-width: 320px;
          overflow: hidden;
          margin-left: 15px;
          :global(.vtex-breadcrumb-1-x-link) {
            text-wrap: nowrap;
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            &:global(.vtex-breadcrumb-1-x-homeLink) {
              overflow: visible;
            }
          }
          :global(.vtex-breadcrumb-1-x-arrow) {
            display: flex;
            width: 80px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
