.flexRow {
  &--product-main {
    max-width: 1366px;
    margin: auto;
    .flexCol--product__col-left {
      width: 60%;
      margin-right: 50px;
      :global(.vtex-store-components-3-x-content--product-image-grid) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        :global(
            .vtex-store-components-3-x-productImageTag--product-image-grid--main
          ) {
          max-height: 690px !important;
        }
      }
    }
    .flexCol--product__right-col {
      width: 40%;

      :global(.vtex-address-form__postalCode) {
        :global(.vtex-input__label) {
          font-size: 0;
          &::before {
            content: "Simule frete e prazo de entrega";
            font-size: 14px;
            letter-spacing: 0.8px;
            padding-left: 10px;
          }
        }
        :global(.vtex-input-prefix__group) {
          position: relative;
          &::before {
            content: "Insira seu CEP"; /* Texto do "placeholder" */
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #999; /* Cor semelhante ao placeholder */
            font-size: 16px;
            pointer-events: none;
          }
        }

        :global(.vtex-address-form__postalCode-forgottenURL){
            :first-child{
                text-decoration: underline;
            }
            :global(.vtex__icon-external-link){
                display: none;
            }
        }
      }
      :global(.vtex-address-form__field-focused) {
        :global(.vtex-input-prefix__group) {
          &::before {
            content: "";
          }
        }
      }
      :global(.vtex-add-to-cart-button-0-x-buttonText){
        text-transform: none;
        font-size: 16px;
        line-height: 16px;
        &:hover{
          color: white;
        }
      }
    }
  }

  &--buy-button{
    :global(.vtex-button){
      margin: 20px 0 30px;
      height: 48px;
      &:hover{
        color: white;
        border: none;
      }
    }
  }

  &--product__name-pdp {
    :global(.vtex-store-components-3-x-productNameContainer--quickview) {
      font-size: 20px;
    }
  }

  &--product__review {
    margin-top: 10px;
    margin-bottom: 20px;
    .flexRowContent {
      gap: 10px;
    }
    :global(.vtex-reviews-and-ratings-3-x-inlineContainer) {
      width: fit-content;
    }
  }

  &--product__price-pdp {
    margin-top: 5px;
    .flexRowContent--product__price-pdp {
      gap: 5px;
    }
  }
}
