.triggerContainer {
  &--product__review {
    :global(.vtex-rich-text-0-x-paragraph--product__review) {
      margin: 0;
      text-decoration: underline;
    }
  }
  &--pdp__trigger {
    width: fit-content !important;

    &:hover {
      cursor: pointer;
    }
  }
}

.headerContainer {
  &--header__modal {
    border: 0;

    .closeButtonContainer--header__modal {
      position: absolute;
      right: 0;
      translate: 50% -50%;
      background-color: #1b1c1d;

      .closeButton {
          padding: 0.25rem;
        .closeIcon {
          display: none;
        }

        &::before {
          content: "X";
          font-size: 25px;
          font-family: Century;
          color: #fff;
        }
      }
    }
  }
}



.modal--pdp__guideSizes {
  .paper {
    overflow: visible;
    :global(.vtex-store-components-3-x-imageElement){
      width: 55vw;
      margin-bottom: -100px;
    }
    @include tablet{
      :global(.vtex__guideSize){
        height: 65vh;
        overflow: scroll;
      }
    }
    
  }
  
}

.modal--pdp__methodsPayments{
  padding: 35px;
  .paper--pdp__methodsPayments{
    overflow: initial;
    @include tablet{
      max-width: 360px;
      margin: 0;
    }
  }
}


:global(.vtex-reviews-and-ratings-3-x-container ){
  padding: 35px ;
  :global(.vtex-reviews-and-ratings-3-x-loginLink){
    color: black;
  }
  :global(.vtex-reviews-and-ratings-3-x-reviewsHeading ){
    font-family: "Futura", sans-serif;
    color: #000;
    padding-bottom: 30px;
    font-weight: 300;
    text-align: center;
    display: table;
    height: auto;
    line-height: 1;
    width: 100%;
    margin: 0 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.container--product__reviews{
  .paper--product__reviews{
    overflow: visible;
    :global(.vtex-reviews-and-ratings-3-x-container){
      overflow: auto;
    }
  }
}