.trigger--product__description-pdp{
    all: unset;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after{
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        top: 40%;
        right: 23px;
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    &--visible{
        &::after{
            transform: rotate(44deg);
        }
    }
}

.content--product__description-pdp{
    :global(.vtex-store-components-3-x-productDescriptionContainer){
        :global(.vtex-store-components-3-x-productDescriptionText){
            white-space: pre-wrap;
            color: black;
        }
    }

    :global(.vtex-store-components-3-x-productDescriptionText){
        font-size: 14px;
    }

}