h2{
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    @media(max-width:768px){
        font-size: 30px;
        text-align: center;
    }
}

p{
    font-size: 14px;
    font-family: Century;
    line-height: 1.3em;
}

ul{
    padding: 0;
}

li{
    font-family: Century;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #444;
}

table{
    overflow-x: auto;
}