:global(.vtex-store-components-3-x-imageElement--livelo__fullBanner-desk){
    display: block;
    margin: auto;
}

:global(.vtex-store-components-3-x-imageElementLink){
    width: fit-content !important;
}

.flexRow{
    &--livelo__fullBanner-desk{
        .flexRowContent{
            justify-content: center;
            position: relative;
            max-width: 1366px;
            margin: auto;
            .flexCol--livelo__fullBanner{
                position: absolute;
                max-width: 100%;
                width: auto;
                right: 3%;
                top: 16%;
                .flexColChild{
                    display: contents;
                }
                
            }
        }
    }

    &--livelo__category{
        margin: 40px 0;
        .flexRowContent--livelo__category{
            justify-content: center;
            gap: 20px;
            @include tablet{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0 10px;
            }
        }
    }
}