.container{
    &--contact-us{
        @include tablet{
            justify-content: center;
        }
        .paragraph{
            text-transform: uppercase;
            font-weight: 300;
            color: #000;
            font-size: 40px;
            @include tablet{
                font-size: 30px;
            }
        }
    }
}