.container {
  &--lp__first-banner {
    height: 100%;
    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .heading {
        font-family: Orpheus;
        text-transform: unset;
        font-size: 3.375rem;
        word-break: break-word;
        max-width: 540px;
        text-align: center;
        margin: 0;
        font-weight: 300;
        color: var(--custom-text-color) !important;
        @include tablet {
          width: 100%;
          display: block;
          padding: 20px 20px 0 20px;
          font-size: 2.5rem;
          text-align: start;
        }
        @include mobile {
          text-align: center;
        }
      }
      .paragraph {
        color: var(--custom-text-color) !important;
        width: 24%;
        text-align: center;
        @media screen and (max-width: 1380px) {
          width: 50%;
        }
        @include tablet {
          display: flex;
          justify-content: end;
          width: 100%;
        }
        .link {
          color: var(--custom-text-color) !important;
          font-family: "Century";
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          margin: 0;
          margin-top: 55px;
          display: grid;
          font-weight: 500;
          @include tablet {
            text-align: end;
            padding-right: 40px;
            font-size: 0.875rem;
          }
          @include mobile {
            text-align: center;
            padding-right: 0;
            margin: 15px auto;
            width: 53%;
          }
          &::after {
            content: url(assets/images/LP/arrow.svg);
            margin-left: 7px;
            filter: var(--invert-filter);
            @include mobile {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  &--lp__title-shelf {
    justify-content: center;
    .paragraph {
      font-family: Orpheus;
      text-transform: unset;
      font-size: 3.375rem;
      word-break: break-word;
      max-width: 540px;
      color: var(--custom-text-color) !important;
      text-align: center;
    }
  }

  &--lp__secund-banner {
    @include tablet {
      width: 100%;
    }
    .wrapper {
      width: 100%;
    }
    .heading {
      width: 90%;
      font-weight: 400;
      text-align: end;
      font-size: 3rem;
      font-family: "Orpheus";
      color: var(--custom-text-color) !important;
      @include tablet {
        width: 100%;
        display: block;
        padding: 20px;
        text-align: center;
        font-size: 2.5rem;
      }
      @include mobile {
        width: 79%;
        padding: 20px 0;
        text-align: center;
        font-size: 2.125rem;
        margin: 10px auto 0;
        font-family: 'Orpheus';
      }
      .link {
        font-family: "Century";
        display: block;
        font-size: 1rem;
        letter-spacing: 0.2em;
        margin-top: 55px;
        color: var(--custom-text-color) !important;
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase;
        @include tablet {
          font-size: 0.875rem;
          text-align: center;
        }
        @include mobile {
          text-align: right;
          margin: 35px auto 20px;
          width: 90%;
        }
        &::after {
          content: url(assets/images/LP/arrow.svg);
          margin-left: 7px;
          filter: invert(1);
          filter: var(--invert-filter);
        }
      }
    }
  }

  &--lp__three-banner {
    .wrapper {
      width: 100%;
      padding: 20px;
    }
    .heading {
      font-weight: 400;
      text-align: center;
      font-size: 3rem;
      font-family: "Orpheus";
      color: var(--custom-text-color) !important;
      @include tablet {
        text-align: center;
        margin-top: 50px;
        font-size: 2rem;
      }
      @include mobile {
        margin: 10px 0 0;
      }
      .link {
        font-family: 'Century';
        width: 20%;
        display: grid;
        font-size: 1rem;
        letter-spacing: 0.2em;
        margin: 55px auto 0;
        color: var(--custom-text-color) !important;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase;
        @media screen and (max-width: 1380px) {
          width: 60%;
        }
        @include tablet {
          margin-top: 30px;
          font-size: 0.875rem;
          text-align: end;
        }
        @include mobile {
          width: 100%;
          margin: 40px auto 15px;
          display: block;
          text-align: center;
        }
        &::after {
          content: url(assets/images/LP/arrow.svg);
          margin-left: 7px;
          filter: var(--invert-filter);
        }
      }
    }
  }

  &--lp__banner-text--v2 {
    position: absolute;
    bottom: 10px;
    left: 40px;
    .paragraph {
      font-size: 1.625rem;
      @include mobile{
        font-size: 18px;
      }
      .link {
        color: black;
        text-decoration: none;
        margin-top: 20px;
        display: inline-block;
        &::after {
          content: "";
          font-size: 1.375rem;
          font-family: Orpheus;
          color: #000;
          letter-spacing: 0.05em;
          margin-top: 5px;
          margin-left: 10px;
          display: inline-block;
          width: 55px;
          height: 10px;
          background-image: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.111/icons/header/big-arrow___e810883….png);
          background-repeat: no-repeat;
        }
      }
    }
    @include mobile{
      left: 20px;
    }
  }

  &--lp__banner-final--v2 {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    justify-content: center;
    .paragraph {
      font-size: 1.625rem;
      .link {
        color: black;
        text-decoration: none;
        margin: auto;
        margin-top: 20px;
        display: block;
        width: fit-content;
        &::after {
          content: "";
          font-size: 1.375rem;
          font-family: Orpheus;
          color: #000;
          letter-spacing: 0.05em;
          margin-top: 5px;
          margin-left: 10px;
          display: inline-block;
          width: 55px;
          height: 10px;
          background-image: url(https://guessbr.vtexassets.com/assets/vtex/assets-builder/guessbr.fg-store/1.0.111/icons/header/big-arrow___e810883….png);
          background-repeat: no-repeat;
        }
      }
    }
  }

  &--lp__banner-wrapper--v2{
    position: absolute;
    bottom: 0;
    left: 20px;

    .paragraph{
      .link{
        color: black;
        text-decoration: none;
      }
    }
  }
}

.wrapper--title-h2 {
  width: 100%;
  text-align: center;

  .heading--title-h2 {
    font-size: 2.625rem;
    color: #000000;
    font-weight: 400;

    @media (max-width: 767px) {
      font-size: 1.5rem;
    }   

  }
}