.flexRow {
  &--lp__conteiner {
    .flexRowContent--lp__conteiner {
      flex-direction: column;
    }
  }

  &--lp__first-banner {
    .flexRowContent {
      align-items: center;
      @include tablet{
        flex-direction: column;
      }
      :global(.vtex-store-components-3-x-imageElement--lp__first-banner) {
        width: 60.8%;
        height: fit-content;
        @include tablet{
            width: 100%;
          }
      }
    }
  }

  &--lp__secund-banner {
    .flexRowContent {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      align-items: center;
      @include tablet{
        gap: 10px;
        flex-direction: column-reverse;
      }
    }
  }

  &--lp__three-banner {
    .flexRowContent {
        margin-top: 100px;
        align-items: center;
        justify-content: space-between;
        @include tablet{
            margin: 0;
            flex-direction: column;
          }
        :global(.vtex-store-components-3-x-imageElement--lp__three-banner) {
            height: fit-content;
            margin-top: -40px;
            margin-left: 10%;
            z-index: 1;
            @include tablet{
                margin:0;
                width: 100%;
              }
          }
    }
  }
}

.flexRowContent--lp__banner-duplo-v2 {


  :global(.vtex-store-components-3-x-imageElement) {
    width: 950px;
    height: 634px;
    position: relative;
  }
}

.flexColChild--lp__banner-duplo-v2 {
  width: 950px;
  height: 634px !important;

}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-left--v2) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-rigth) {
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

.flexColChild--lp__banner-duplo-left {
  position: relative;
}

.flexColChild--lp__banner-duplo-rigth {
  position: relative;
}

.flexColChild--lp__banner-triplo-um {
  position: relative;

  :global(.vtex-store-components-3-x-imageElement) {
    width: 630px;
    height: 660px;
    position: relative;
  }
  :global(.vtex-rich-text-0-x-container--lp__text-banner-triplo-um) {
    position: absolute;
    bottom: 30px;
    margin: 0 20px;


  }

}

.flexColChild--lp__banner-triplo-dois {
  position: relative;

  :global(.vtex-store-components-3-x-imageElement) {
    width: 630px;
    height: 660px;
  }

  :global(.vtex-rich-text-0-x-container--lp__text-banner-triplo-dois) {
    position: absolute;
    bottom: 30px;
    margin: 0 20px;


  }
}

.flexColChild--lp__banner-triplo-tres {
  position: relative;

  :global(.vtex-store-components-3-x-imageElement) {
    width: 630px;
    height: 660px;
  }

  :global(.vtex-rich-text-0-x-container--lp__text-banner-triplo-tres) {
    position: absolute;
    bottom: 30px;
    margin: 0 20px;


  }
}

.flexRow--lp__banner-final {
  :global(.vtex-store-components-3-x-imageElement) {
    width: 100%;
    height: 400px;

  }
}

.flexColChild--lp__banner-final {
  position: relative;
  :global(.vtex-store-components-3-x-imageElement){
    width: 100%;
    height: 400px;
  }

  :global(.vtex-rich-text-0-x-container--lp__banner-simples-text) {
    position: absolute;
    bottom: 30px;
    justify-content: center;
    width: 100%;
  }
}

.flexRow--lp__banner-topo-mobile {
  :global(.vtex-store-components-3-x-imageElement) {
    width: 100%;
    height: 340px;

  }
}

.flexRowContent--lp__banner--v2{
  .flexCol--banner-text{
    position: relative;
  }
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-final-text--v2) {
  position: absolute;

}

.flexColChild--banner-text--v2{
  :global(.vtex-store-components-3-x-imageElement--lp__left-banner-duplo-mob) {
      width: 100%;
      height: auto;
  }
}

.flexColChild--banner-text--v2 {
  position: relative;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-left-mob--v2) {
  position: absolute;
  bottom: 30px;

}

.flexColChild--banner-text--v2{
  :global(.vtex-store-components-3-x-imageElement--lp__rigth-banner-duplo-mob) {
      width: 100%;
      height: auto;
  }
}

.flexRowContent--lp__banner-duplo-v2-mob--v2 {
  flex-direction: row;
  display: flex;
  line-height: 0;
}

.flexRowContent--lp__banner-duplo-v3-mob--v2 {
  flex-direction: row;
  display: flex;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-duplo-text-left-mob--v2){
  position: absolute;
  bottom: 30px;
  margin: 0 20px;
}

.flexColChild--lp__banner-final--v2 {
  position: relative;
}

:global(.vtex-rich-text-0-x-wrapper--lp__banner-final-text--v2) {
    justify-items: center;
    position: absolute;
    bottom: 50px;
    margin: 0 20px;
    width: 100%;

}

.flexRowContent{
  &--lp__banner-duplo--v2{
    gap: 10px;
    margin-bottom: 10px;
    @include mobile{
      margin-bottom: 10px;
    }
  }

  &--lp__banner-final--v2{
    position: relative;
  }

  &--lp__banner-trio--v2{
    gap: 10px;
    margin-bottom: 10px;
    @include mobile{
      margin-bottom: 10px;
    }
  }

  &--lp__banner-topo--v2{
    margin-bottom: 10px;
    @include mobile{
      margin-bottom: 10px;
    }
  }

  &--lp__banner-wrapper-mob--v2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    :global(.vtex-store-components-3-x-imageElement--lp__banner-wrapper--v2){
      height: 100%;
      display: block;
      width: 100%;
    }

  }

  .flexColChild--lp__banner-wrapper-two--v2{
    display: contents;
  }

  .flexCol{
    &--lp__banner-text--v2{
      position: relative;
      width: fit-content;
    }

    &--lp__banner-duplo-rigth--v2{
      width: fit-content;
      .flexColChild{
        width: fit-content;
      }
    }
    &--lp__banner-duplo-left--v2{
      width: fit-content;
      .flexColChild{
        width: fit-content;
      }
    }
  }

}

.flexColChild--lp__banner-text--v2{
  width: fit-content;
}

.flexRow--LP {
  margin-top: 50px !important;  
}

.flexRowContent--LP {
  gap: 50px;

  :global(.vtex-store-components-3-x-imageElement) {
    
  }

  @media(max-width:1440px) {
    :global(.vtex-store-components-3-x-imageElement) {
      width: 47% !important;
    }
  }

  .flexColChild--grid_product {
    :global(.vtex-list-context-0-x-list) {
      

      .flexRow--flags-shelf {
        display: none;
      }
    }
  }

  
}


@media (max-width: 767px) {
  .flexRowContent--Category__banners {
    display: flex;
    gap: 15px;
    :global(.vtex-store-components-3-x-imageElement) {
      width: 78.55px;
      height: 32px;
    }

   
  }

  .flexRowContent--LP {
    display: block !important;
    text-align: center;

    :global(.vtex-store-components-3-x-imageElement) {
      width: 90% !important;
    }    
  }

  .flexCol--grid_product-LP--mobile {
    width: 90% !important;
    margin-top: 30px;
  }

  .flexColChild--grid_product-LP--mobile {
    :global(.vtex-product-summary-2-x-imageNormal) {
      max-height: 245px !important;
    }
  }

  .flexRowContent--v2 {
    .stretchChildrenWidth {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .flexRowContent--Category__banners {
    gap: 5px !important;
    :global(.vtex-store-components-3-x-imageElement) {
      width: 100px;
      height: auto;
    }

    

    .pr6 {
      padding-right: 0px !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .flexColChild--grid_product-LP--mobile {
    :global(.vtex-list-context-0-x-list) {
      grid-template-columns: 1fr;
      :global(.vtex-list-context-0-x-item):first-child,
      :global(.vtex-list-context-0-x-item):last-child {
        display: none;
      }

      
    }
  }

  .flexRowContent--LP {
    :global(.vtex-store-components-3-x-imageElement) {
      width: 75% !important;
    }
  }

  .flexCol--grid_product-LP--mobile {
    width: auto !important;
  }
}

.flexRowContent--LP :global(.vtex-product-summary-2-x-nameContainer--shelf) {
  display: block !important;
}
.flexRow--LP .flexRow--selling-price-savings {
  display: block !important;
}

.flexRow--LP :global(.vtex-product-price-1-x-installments) {
  display: block !important;
}

@media(max-width:767px) {
  .flexColChild--grid_product-LP--mobile {
    :global(.vtex-list-context-0-x-list),
    :global(.vtex-product-summary-2-x-containerNormal) {
    width: 95%;
    max-height: 100% !important;
    }
  }
}

@media(max-width:1025px) {
  .flexColChild--grid_product-LP--mobile {
    align-items: center !important;
    justify-content: center;
    display: flex;

  :global(.vtex-list-context-0-x-list),
  :global(.vtex-product-summary-2-x-containerNormal) {
    max-height: 100% !important;
    } 
  }
}

@media(max-width:767px) {
  .flexCol--grid_product.flexCol--grid_product-LP--mobile {
    width: 100% !important;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .flexRowContent--Category__banners {
    gap: 5px !important;
    :global(.vtex-store-components-3-x-imageElement) {
      width: 90px;
      height: auto;
    }
  }
}

@media(max-width:767px) {
  .flexColChild--grid_product-LP--mobile {
    :global(.vtex-product-summary-2-x-element) {
      padding-bottom: .75rem !important;
    }
  }
}

@media(max-width:1920px) {
  .flexColChild--grid_product-LP--mobile { 
    :global(.vtex-list-context-0-x-list) {
      gap: 10px;
    }    
  }
  .flexRow--LP {
    margin-bottom: 50px !important;
  }
}

