/* .slick-track {
  background-color: red;
} */

/* :global(.slider-wrapper){
  display: none;
} */
/* 
#teste{
  display: none;
} */

/* :global(.guessbr-agenciafg-custom-0-x-kitLook__title){
  color: red;
} */

/* body{
  display: none;
} */