.video__player{
    margin-top: 78px;
    height: fit-content !important;

    @media (max-width: 1400px) {
      aspect-ratio: 16/9;
      margin-top: 0;
    }

    &-video{
      height: 734px !important;

      @media (max-width: 1400px) {
        aspect-ratio: 14/9;
      }

      @include tablet {
        width: 100%;
        max-height: 520px !important;
      }

      @include mobile {
        width: 100%;
        max-height: 430px !important;
      }
    }


    @include tablet{
        margin-top: 33px;
    }
}
