.menuContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff; /* Ajuste de cor conforme necessidade */
  width: 100%;
  z-index: 1000;
}

.menuItem {
  /* position: relative; */
  padding: 10px;
}

.menuLink {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: #333; /* Ajuste a cor conforme necessidade */
  font-size: 16px;
  transition: color 0.3s ease;
}

.menuLink:hover {
  color: #007bff; /* Cor do hover */
}

.submenuToggleIcon::after {
  content: "";
  display: block;
  float: right;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(315deg) ;
  width: 8px;
  height: 8px;
}

.submenuContainer {
  position: absolute;
  left: 0;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.submenuContainer.level-1 {
  display: none;
}

.submenuItem {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  list-style: none;
  padding: 0;
  @media (max-width: 1024px) {
    display: block;
  }

  
}

.submenuWrapper {
  list-style: none;
}

.submenuWrapper.level-0 {
  display: flex;
  @media (max-width: 1024px) {
    display: block;
  }
}

.submenuWrapper.level-1 {
  padding: 0;

}

.bannerContainer {
  margin-left: 20px;
  margin-top: 10px;
}

.bannerImage {
  width: 150px;
  height: auto;
  border-radius: 4px; /* Deixa a imagem com cantos arredondados */
}

@media (max-width: 768px) {
  .menuContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }



  .menuItem {
    width: 100%;
  }

  .menuLink {
    justify-content: space-between;
    padding: 15px;
    width: 100%;
  }

  .submenuContainer {
    position: static;
    flex-direction: column !important;
    padding: 10px 0;
    box-shadow: none;
    width: 100%;
  }

  .submenuItem {
    margin-bottom: 5px;
  }

  .bannerContainer {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .bannerImage {
    width: 100%;
    max-width: 300px;
  }

  .submenuWrapper.level-1 {
    display: none;
    
  }
  .submenuWrapper.level-1.openSubmenu {
    display: block;
    
  }
}
