.sliderLayoutContainer--carousel {

    :global(.vtex-store-components-3-x-imageElementLink--slider__home){
        @include tablet{
          width: 100%;
        }
    }

    :global(.vtex-store-components-3-x-imageElement--slider__home){
        @include tablet{
          width: 100%;
        }
    }

  .paginationDotsContainer--carousel {
    bottom: 17px;
  }
  .paginationDot--carousel {
    width: 100px !important;
    height: 3px !important;
    background-color: white;
    border-radius: 1.5px;
    padding: 0;
    opacity: 50%;
    &--isActive{
        opacity: 100%;
    }
  }
}

.caretIcon--shelf{
  @include tablet{
    height: 20px;
    color: black;
  }
}
