.flexRow{
    &--category__list{
        @extend %container;
        margin-bottom: 50px;
        @include tablet{
            margin-bottom: 0px;
        }

        .flexRowContent--category__list{
            gap: 8px;
            @include tablet{
                gap: 4px;
                grid-template-columns: repeat(2, 1fr);
                display: grid;
                justify-items: center;

                .flexCol--category__list{
                    width: fit-content;
                }
            }
            @include mobile{
                .flexCol--category__list{
                    :global(.vtex-store-components-3-x-imageElement) {
                        max-height: 256px !important;
                    }
                }
            }
        }
    }
}