:global(.vtex-product-highlights-2-x-productHighlightWrapper) {
  font-size: 0;
  padding: 5px 15px;
  background: #F2F2F2;

  :global(.vtex-product-highlights-2-x-productHighlightText)[data-highlight-type="collection"] {
    font-family: "Futura";
    font-weight: 650;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2%;
    text-align: center;
    color: #808080;
  }
}
