.flexRow {
  &--searchbread {
    :global(.vtex-breadcrumb-1-x-container) {
      margin: auto;
      margin-bottom: 29px;
      max-width: 1800px;
      padding: 0 20px;
      :global(.vtex-breadcrumb-1-x-link) {
        color: #565d61;
      }
      :global(.vtex-breadcrumb-1-x-arrow) {
        &::before {
          font-size: 10px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  &--productCountCol {
    .flexRowContent--productCountCol {
      align-items: baseline;
      gap: 10px;
    }
  }

  &--result {
    .flexRowContent--result {
      width: 80%;
      margin: auto;
      margin-bottom: 40px;
      .flexCol--content {
        margin-top: 50px;
        padding-left: 25px;
      }
    }
  }

  &--productCountMobileRow {
    .flexRowContent {
      display: flex;
      align-items: baseline;
      padding: 13px 0 13px 25px;
      gap: 8px;
      border-bottom: 1px solid #eee;
    }
  }

  &--searchinfomobile {
    .flexRowContent {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .flexCol--filterMobileCol {
        margin: 0;
        position: absolute;
        left: 25px;
        width: fit-content !important;
      }
    }
  }
}

