.trigger {
  &--filter {
    all: unset;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &--hidden {
      &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid #565d61;
        border-right: 2px solid #565d61;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    &--visible{
        &::after{
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-bottom: 2px solid #565d61;
            border-right: 2px solid #565d61;
            rotate: 224deg;
        }
    }
  }
}


.content--filter--visible{
    width: 200px;
}